/*
 * Colors
 */
/*
 * Animation settings
 */
/*
 * Height settings
 */
/*
 * Fonts 
 */
@font-face {
  font-family: 'Open Sans';
  src: url("../font/open_sans.ttf");
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/raleway.ttf");
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.eot');
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.eot');
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-600.eot');
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url('../font/source-sans-pro/source-sans-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.eot');
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-700.eot');
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../font/source-sans-pro/source-sans-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.eot');
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.svg#SourceSansPro') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/*
 * Font sizes
 */
/*
 * Other variables
 */
/*
 * Imports
 */
/*
 * Height paddings
 */
.odalic-hstyle-small {
  display: block;
  padding-top: 5px;
}
.odalic-hstyle-medium {
  display: block;
  padding-bottom: 15px;
}
.odalic-hstyle-semibig {
  display: block;
  padding-bottom: 30px;
}
.odalic-hstyle-big {
  display: block;
  padding-bottom: 50px;
}
/*
 * Font color styles
 */
.odalic-font-orange {
  color: #ff0000;
}
.odalic-font-pp-navi {
  color: #2f3089;
}
.odalic-font-pp-green {
  color: #70be44;
}
.odalic-font-pp-blue {
  color: #00adee;
}
.odalic-font-darkorange {
  color: #ca0000;
}
.odalic-font-blue {
  color: #1293ee;
}
.odalic-font-darkblue {
  color: #0e69ae;
}
.odalic-font-grey {
  color: #999999;
}
.odalic-font-darkgrey {
  color: #232323;
}
/*
 * Row color styles
 */
.odalic-trstyle-darkorange {
  color: #ffffff;
  background-color: #ca0000;
}
.odalic-trstyle-lightorange {
  color: #000000;
  background-color: #ffac00;
}
.odalic-trstyle-orange {
  color: #000000;
  background-color: #ff0000;
}
.odalic-trstyle-iorange {
  color: #ff0000;
  background-color: #ffffff;
}
.odalic-trstyle-blue {
  color: #ffffff;
  background-color: #1293ee;
}
.odalic-trstyle-lightblue {
  color: #000000;
  background-color: #77bff4;
}
.odalic-trstyle-iblue {
  color: #1293ee;
  background-color: #ffffff;
}
.odalic-trstyle-almostwhite {
  color: #999999;
  background-color: #eeeeee;
}
.odalic-trstyle-lightgrey {
  color: #000000;
  background-color: #eeeeee;
}
.odalic-trstyle-white {
  color: #000000;
  background-color: #ffffff;
}
.odalic-trstyle-pp-blue {
  color: #000000;
  background-color: #00adee;
}
/*
 * Box color styles
 */
.odalic-bstyle-darkorange {
  color: #ffffff;
  background-color: #ca0000;
  border-color: #ca0000;
}
.odalic-bstyle-lightorange {
  color: #000000;
  background-color: #ffac00;
  border-color: #ffac00;
}
.odalic-bstyle-orange {
  color: #000000;
  background-color: #ff0000;
  border-color: #ff0000;
}
.odalic-bstyle-iorange {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
}
.odalic-bstyle-blue {
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
}
.odalic-bstyle-lightblue {
  color: #000000;
  background-color: #77bff4;
  border-color: #77bff4;
}
.odalic-bstyle-iblue {
  color: #1293ee;
  background-color: #ffffff;
  border-color: #1293ee;
}
.odalic-bstyle-almostwhite {
  color: #999999;
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.odalic-bstyle-lightgrey {
  color: #000000;
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.odalic-bstyle-white {
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
.odalic-bstyle-pp-blue {
  color: #000000;
  background-color: #00adee;
  border-color: #00adee;
}
/*
 * Font styles
 */
.odalic-gfont-general {
  font-family: 'Source Sans Pro';
  font-size: 12pt;
}
.odalic-gfont-alternative {
  font-family: sans-serif;
  font-size: 12pt;
}
.odalic-gfont-small {
  font-family: 'Source Sans Pro';
  font-size: 10pt;
}
.odalic-gfont-tiny {
  font-family: 'Source Sans Pro';
  font-size: 8pt;
}
.odalic-gfont-moderate {
  font-family: 'Source Sans Pro';
  font-size: 15pt;
}
.odalic-gfont-big {
  font-family: 'Source Sans Pro';
  font-size: 27pt;
}
.odalic-gfont-huge {
  font-family: 'Source Sans Pro';
  font-size: 32pt;
}
/*
 * Headings
 */
h1 {
  color: #2f3089;
  font-weight: 600;
}
h2 {
  color: #2f3089;
  font-weight: 600;
}
h3 {
  color: #2f3089;
  font-weight: 600;
}
h4 {
  color: #2f3089;
  font-weight: 600;
}
h5 {
  font-weight: bold;
  font-size: 12pt;
}
h6 {
  font-size: 12pt;
}
/*
 * General button declarations
 */
.odalic-button-skeleton {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
}
.odalic-button-border {
  border-width: 2px;
  border-style: solid;
}
.odalic-button-shadow {
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
}
.odalic-button-clickable:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
.odalic-button-shadowclick:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 3px #999999;
          box-shadow: 0 3px #999999;
}
/*
 * Different button styles
 */
button.style1 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  color: #000000;
  background-color: #ff0000;
  border-color: #ff0000;
  padding: 6px 20px 6px 20px;
  border-width: 0px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
button.style1 span {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
button.style1 span:before {
  content: '»';
  opacity: 0;
  position: absolute;
  top: 0;
  left: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
button.style1:hover {
  border-color: #ffd800;
  background-color: #ffd800;
}
button.style1:hover span {
  color: #ff0000;
  padding-left: 10px;
}
button.style1:hover span:before {
  opacity: 1;
  left: 0px;
}
button.style1:active {
  -webkit-box-shadow: 0 3px #bbbbbb;
          box-shadow: 0 3px #bbbbbb;
  -webkit-transition: 0s;
  transition: 0s;
}
button.style2 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button.style2:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
button.style2:hover {
  color: #ffffff;
  background-color: #ff0000;
}
button.style3 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button.style3:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
button.style3:hover {
  color: #ffffff;
  background-color: #ff0000;
}
button.style4 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
}
button.style4:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
button.style4:hover {
  border-color: #ca0000;
  color: #ca0000;
}
button.style5 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button.style5:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
button.style5:hover {
  color: #1293ee;
  background-color: #ffffff;
}
button.style6 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
  border-radius: 6px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
button.style6:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 3px #999999;
          box-shadow: 0 3px #999999;
}
button.style6:hover {
  border-color: #0e69ae;
  background-color: #0e69ae;
}
button.style7 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
button.style7:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 3px #999999;
          box-shadow: 0 3px #999999;
}
button.style7:hover {
  border-color: #0e69ae;
  background-color: #0e69ae;
}
button.style8 {
  cursor: pointer;
  min-width: 85px;
  padding: 4px 20px 4px 20px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #000000;
  background-color: #eeeeee;
  border-color: #bbbbbb;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
button.style8:active span {
  position: relative;
  left: 1px;
  top: 1px;
}
button.style8:hover {
  border-color: #232323;
}
/*
 * General textfields declarations
 */
.odalic-textfield-skeleton {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
}
.odalic-textfield-border {
  border-width: 2px;
  border-style: solid;
}
.odalic-textfield-shadow {
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
}
/*
 * Different textfield styles
 */
input.style1 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #000000;
  background-color: #ff0000;
  border-color: #ff0000;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input.style1:focus {
  border-color: #ffd800;
  background-color: #ffd800;
}
.texfields-style23 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.texfields-style23:focus {
  color: #ffffff;
  border-color: #ff0000;
  background-color: #ff0000;
}
input.style2 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input.style2:focus {
  color: #ffffff;
  border-color: #ff0000;
  background-color: #ff0000;
}
input.style3 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input.style3:focus {
  color: #ffffff;
  border-color: #ff0000;
  background-color: #ff0000;
}
input.style4 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input.style4:focus {
  color: #ca0000;
  border-color: #ca0000;
}
input.style5 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #1293ee;
  background-color: #ffffff;
  border-color: #1293ee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input.style5:focus {
  color: #0e69ae;
  border-color: #0e69ae;
}
input.style6 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #1293ee;
  background-color: #ffffff;
  border-color: #1293ee;
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
  border-radius: 6px;
}
input.style6:focus {
  color: #0e69ae;
  border-color: #0e69ae;
  -webkit-box-shadow: 0 5px #999999;
          box-shadow: 0 5px #999999;
}
input.style7 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
  -webkit-box-shadow: 0 5px #bbbbbb;
          box-shadow: 0 5px #bbbbbb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
input.style7:focus {
  color: #000000;
  border-color: #77bff4;
  background-color: #77bff4;
}
input.style8 {
  padding: 5px 10px 5px 10px;
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  border-width: 2px;
  border-style: solid;
  color: #000000;
  background-color: #eeeeee;
  border-color: #bbbbbb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
input.style8:focus {
  border-color: #232323;
}
/*
 * Page
 */
html,
body {
  height: 100%;
}
/*
 * Logo
 */
.odalic-logo-text {
  font-family: 'Source Sans Pro';
  font-size: 32pt;
  color: #ca0000;
  font-weight: bold;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #ca0000;
}
/*
 * Borders
 */
.odalic-borders-middle {
  /* Borders */
  border-width: 0 10px 0 10px;
  border-style: solid;
  border-color: #eeeeee;
  -o-border-image: linear-gradient(to left, #eeeeee, #dddddd, #eeeeee) 1 50%;
     border-image: -webkit-gradient(linear, right top, left top, from(#eeeeee), color-stop(#dddddd), to(#eeeeee)) 1 50%;
     border-image: linear-gradient(to left, #eeeeee, #dddddd, #eeeeee) 1 50%;
  /* No borders when using small display */
}
@media (max-width: 768px) {
  .odalic-borders-middle {
    border-width: 0;
  }
}
/*
 * Main content
 */
.odalic-content {
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
  /* Borders */
  border-width: 0 10px 0 10px;
  border-style: solid;
  border-color: #eeeeee;
  -o-border-image: linear-gradient(to left, #eeeeee, #dddddd, #eeeeee) 1 50%;
     border-image: -webkit-gradient(linear, right top, left top, from(#eeeeee), color-stop(#dddddd), to(#eeeeee)) 1 50%;
     border-image: linear-gradient(to left, #eeeeee, #dddddd, #eeeeee) 1 50%;
  /* No borders when using small display */
}
@media (max-width: 768px) {
  .odalic-content {
    border-width: 0;
  }
}
.odalic-content-wide {
  font-family: 'Source Sans Pro';
  font-size: 12pt;
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
/*
 * Footer
 */
.odalic-footer {
  font-family: sans-serif;
  font-size: 12pt;
}
.odalic-footer > div {
  color: #999999;
  background-color: #eeeeee;
  border-color: #bbbbbb;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #dddddd;
}
/*
 * Bootstrap colors
 */
/*
 * Bootstrap NavBar override (+ child DropDown override)
 */
.odalic-navbar {
  /* Color and visual settings */
  color: #000000;
  background-color: #00adee;
  border-color: #00adee;
  /* Overrides */
  border-radius: 0px;
  /* Links */
  /* Small display - menu icon */
}
.odalic-navbar .navbar-active {
  background-color: #66cef5;
}
.odalic-navbar .navbar-selected {
  background-color: #0082b3;
}
.odalic-navbar div > div > ul > li > a {
  color: #ffffff;
}
.odalic-navbar * li {
  /* Menu currently open */
  /* Menu currently marked as "active" */
}
.odalic-navbar * li > a {
  /* Menu item currently clicked on */
}
.odalic-navbar * li > a:hover {
  color: #ffffff;
  background-color: #33bdf1;
}
.odalic-navbar * li > a:focus {
  background-color: #33bdf1;
}
.odalic-navbar * li > a:active {
  background-color: #66cef5;
}
.odalic-navbar * li.open > a {
  background-color: #33bdf1;
}
.odalic-navbar * li.open > a:focus {
  background-color: #33bdf1;
}
.odalic-navbar * li.open > a:hover {
  background-color: #33bdf1;
}
.odalic-navbar * li.active > a {
  background-color: #0082b3;
}
.odalic-navbar * button {
  border-color: #ca0000;
}
.odalic-navbar * button > span {
  background-color: #ca0000;
}
.odalic-navbar * button:hover {
  border-color: #000000;
}
.odalic-navbar * button:hover > span {
  background-color: #000000;
}
/*
 * Bootstrap link override
 */
main-cnt a:link,
main-cnt a:visited {
  color: #00adee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main-cnt a:hover,
main-cnt a:active {
  color: #2f3089;
}
/*
 * Bootstrap Panel override
 */
.panel {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.panel a:link,
.panel a:visited {
  color: #00adee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.panel a:hover,
.panel a:active {
  color: #2f3089;
}
.odalic-pb-padding {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.panel-body {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.list-group-item {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.panel-border {
  border-width: 1px;
  border-style: solid;
}
/*
 * Panel Button
 */
.odalic-button-panel {
  color: #1293ee;
  background-color: #ffffff;
  border-color: #1293ee;
  font-family: 'Source Sans Pro';
  font-size: 10pt;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
}
.odalic-button-panel:hover {
  color: #ffffff;
  background-color: #1293ee;
  border-color: #1293ee;
}
/*
 * Label override
 */
label {
  font-weight: 100;
}
/*
 * Progress override
 */
.progress {
  height: 5px;
}
.progress .progress-bar {
  background-color: #00adee;
}
/*
 * Toast messages
 */
.odalic-validmsg-red {
  color: #a94442;
  background-color: #f2dede;
  border-radius: 5px;
}
/*
 * Pagination
 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #00adee;
  border-color: #00adee;
}
/*
 * Cursors
 */
.odalic-cursor-pointer {
  cursor: pointer;
}
.odalic-cursor-normal {
  cursor: default;
}
/*
 * Text
 */
.odalic-text-strikethrough {
  text-decoration: line-through;
}
.odalic-text-bold {
  font-weight: bold;
}
.odalic-text-normal {
  font-weight: normal;
}
.odalic-text-wrap {
  word-wrap: break-word;
}
/*
 * Centralizing element over another element
 *
 * Usage:
 *  <span class="odalic-centralize-wrapper">
 *      <span>Real element</span>
 *      <span class="odalic-centralize-sibling">Element to centralize over the 'real' one</span>
 *  </span>
 */
.odalic-centralize-wrapper {
  position: relative;
}
.odalic-centralize-sibling {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}
/*
 * Making certain menu items unpadded
 */
.odalic-menu-unpadded {
  padding: 0 !important;
}
/*
 * Displaying a helper box as an alternative to tooltip, mainly to support small devices.
 */
abbrc .odalic-note {
  background: #ffac00;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
  z-index: 99;
}
/*
 * Nobody will be reading this anyway, so who cares that the styles are not defined in a proper file, but helper.less.
 * (╯°□°）╯︵ ┻━┻
 *
 * ┻━┻ ︵ \(°□°\)
 *
 * (ง'̀-'́)ง
 *
 * (•̀o•́)ง
 */
.odalic-butt-affirmative {
  background-color: #70be44;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
.odalic-butt-affirmative:hover {
  background-color: #548f33;
  color: #ffffff;
}
.odalic-butt-cancel {
  background-color: #c8cfd3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
.odalic-butt-cancel:hover {
  background-color: #899196;
  color: #ffffff;
}
/*
 * icon colors
 */
.fa {
  color: #232323;
}
.btn-success .fa {
  color: #ffffff;
}
/*
 * taskresult styles
 */
.selectBoxIcon {
  width: 15px;
  height: 15px;
}
.markedColumn {
  background-color: WhiteSmoke;
}
.headerRow {
  background-color: WhiteSmoke;
}
.odalic-knowledge-base {
  padding: 8px;
  font-size: 14px;
  line-height: 125%;
}
.odalic-knowledge-base-row .fa {
  font-size: 14px;
  color: #232323;
}
.odalic-knowledge-base-row .glyphicon {
  font-size: 12px;
  color: #232323;
  font-weight: normal;
}
.pop {
  color: black;
}
.odalic-hr-pushtop {
  margin-top: 75px;
}
.odalic-hr-pushbtm {
  margin-bottom: 15px;
}
/*
 * Modal Content/Box
 */
.modal-content {
  margin: 0% auto;
  /* 15% from the top and centered */
  padding: 20px;
}
.modal-header .fa {
  font-size: 24px;
}
/*
 * Controls an owerflowing text for ui-selectbox
 */
.ui-select-placeholder,
.ui-select-match-text,
.ui-select-match-item {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
 * Lod iframe
 */
iframe {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #FFF;
}
/*
 * Generic table override
 */
.table {
  border: 0.5px solid LightSteelBlue;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0.5px solid LightSteelBlue;
}
/*
 * sets appropriate properties hyperlinks in smart select box
 */
a:hover {
  text-decoration: none;
}
a.selectBoxLink:link {
  color: DarkSlateGray;
}
a.selectBoxLink:visited {
  color: DarkSlateGray ;
}
a.selectBoxLink:hover {
  color: black;
}
a.selectBoxLink:focus {
  outline: 0;
  text-decoration: none;
}
.rightPadding {
  padding-right: 20px;
}
.up {
  position: relative;
  z-index: 1;
}
.bigRightPadding {
  padding-right: 60px;
}
