<!-- Prepared messages to display to user in case of a situation -->
<injector for="msgtxt.createFailure">An error occurred while creating the task.</injector>
<injector for="msgtxt.startFailure">An error occurred while starting the task. The task has been successfully created, though.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="tasks" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2>Task import</h2>

        <!-- The main form -->
        <form class="form-horizontal" role="form" name="taskImportForm" ng-init="setForm(this, 'taskImportForm')">

            <!-- Basic settings -->
            <fieldset>
                <legend>Basic settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Task identifier:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="taskIdentifier" ng-model="taskImport.identifier" pattern="[-a-zA-Z0-9_.,\s]*" focused required>
                        <div ng-messages="taskImportForm.taskIdentifier.$error" ng-if='taskImportForm.taskIdentifier.$dirty' role="alert">
                            <div ng-message="required"><error-msg>Task name must not be empty.</error-msg></div>
                            <div ng-message="pattern"><error-msg>Task name may consist only of alphanumeric characters, spaces and - _ . ,</error-msg></div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Input file -->
            <fieldset>
                <legend>Configuration file</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Configuration file:</label>
                    <div class="col-md-8">
                        <input type="file" id="concreteFile" name="fileSelector" required/>
                        <div ng-messages="taskImportForm.fileSelector.$error" ng-if='taskImportForm.fileSelector.$dirty' role="alert">
                            <div ng-message="required"><error-msg>A file must be selected.</error-msg></div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--  Alerts displaying notifications to a user -->
            <alert-group bind="taskImport.alerts" disappearing="3"/>
        </form>

        <!-- Confirm modal when overwriting task -->
        <confirm bind="confirm" title="Task overwrite">
            You are about to overwrite an existing task definition. Continue?
        </confirm>

        <!-- Submit -->
        <div class="col-md-offset-8 col-md-4">
            <div class="col-md-7">
                <button-load button-class="col-md-12 btn btn-lg" action="taskImport.importAndRun" disabled="false">Import and run</button-load>
            </div>
            <div class="col-md-5">
                <button-load button-class="col-md-12 btn btn-lg" action="taskImport.import" disabled="false">Import</button-load>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>