<!-- Main Content -->
<!-- TODO: Styly treba premiestnit do css/less. Pouzi helpers.less pre "miscellaneous" styly. -->
<style>
    .marked {
        background-color: WhiteSmoke;
    }

    .boldPrimaryKB {
        font-weight: bold;
    }

    .evenRow {
        background-color: WhiteSmoke;
    }

    .headerRow {
        background-color: Gainsboro;
    }
</style>

<style>
    /* Modal Content/Box */
    .modal-content {
        margin: 0% auto; /* 15% from the top and centered */
        padding: 20px;
    }
</style>


<main-cnt>
    <!-- NavBar -->
    <navbar selected="-1" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <div class="container-flow">


        <!-- VIEW -->
        <div ng-switch="state">

            <!-- VIEW: Sets subject column  -->
            <div ng-switch-when="0">
                <h2>Choosing of a subject column</h2>

                <!-- Input file table -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td ng-repeat="cell in inputFile.columns"
                                    ng-class="($index == subjectColumn) ? 'marked' :''"
                                    ng-click="selectSubjectColumn($index)">
                                    {{ cell }}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in inputFile.rows">
                                <td ng-repeat="cell in row" ng-class="($index == subjectColumn) ? 'marked' : ''"
                                    ng-click="selectSubjectColumn($index)">
                                    {{ cell }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- VIEW: Sets classifications and disambiguations -->
            <div ng-switch-when="1">
                <h2>Choosing of classifications and disambiguations</h2>
                <!-- Input file table -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr ng-class="'headerRow'">
                                <td ng-repeat="cell in inputFile.columns"
                                    ng-class="(-1 == selectedPosition.row) && ($index == selectedPosition.column) ? 'marked' : ''"
                                    ng-click="selectPosition($index, -1)"
                                    data-toggle="modal" data-target="#myModal">
                                    <!-- origin header from the input table -->
                                    <div>
                                        {{ cell }}
                                    </div>
                                    <!-- primary knowledge base classifications-->
                                    <div ng-class="'boldPrimaryKB'" ng-style="backgroundColor(primaryKB)" ng-repeat="class in currentItems[-1][$index][primaryKB]">
                                        {{ class  }}

                                    </div>
                                    <!-- other knowledge base classifications-->
                                    <div ng-repeat="(KB,data) in currentItems[-1][$index]">
                                        <div ng-if="KB != primaryKB">
                                            <div ng-style="backgroundColor(KB)" ng-repeat="class in data">
                                                {{class}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class-even="'evenRow'" ng-repeat="row in inputFile.rows">
                                <td ng-repeat="cell in row"
                                    ng-class="($parent.$index == selectedPosition.row) && ($index == selectedPosition.column) ? 'marked' : ''"
                                    ng-click="selectPosition($index, $parent.$index)"
                                    data-toggle="modal" data-target="#myModal">
                                    <!-- origin cell value from the input table -->
                                    <div>
                                        {{ cell }}
                                    </div>
                                    <!-- primary knowledge base disambiguation -->
                                    <div ng-class="'boldPrimaryKB'" ng-style="backgroundColor(primaryKB)" ng-repeat="disam in currentItems[$parent.$index][$index][primaryKB]">
                                        {{disam}}
                                    </div>
                                    <!-- other knowledge base disambiguation  -->
                                    <div ng-repeat="(KB,data) in currentItems[$parent.$index][$index]">
                                        <div ng-if="KB != primaryKB">
                                            <div ng-style="backgroundColor(KB)" ng-repeat="disam in data">
                                                {{disam}}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--{{primaryKB}}

                {{chosenKBs}}
                <div>feedback :{{feedback}}</div>
                <div>bla :{{currentItems}}</div>
                <div>ignoredColumn :{{ignoredColumn}}</div>
                <div>noDisambiguationColumn :{{noDisambiguationColumn}}</div>
                <div>noDisambiguationCell :{{noDisambiguationCell}}</div>-->






                <button ng-click="setfeedback()">
                    send
                </button>

                <!-- Modal window for classification/disambiguation selection -->
                <!--
                    TODO: odselcteni crtl - click -> dotykove pristroje vi buh
                    TODO: init selection : currentItems[selectedPosition.row+selectedPosition.column] == [www.dbpedia, www.dbpedia]
                    TODO: stylovanie
                 -->
                <div id="myModal" class="modal" role="dialog">
                    <div class="modal-dialog lg">
                        <div class="modal-content">

                            <!-- Column classification -->
                            <div ng-if="(selectedPosition.row == -1)">
                                <div class="modal-head">
                                    <h2>Column classification</h2>
                                </div>

                                <h3 ng-class="'boldPrimaryKB'">{{primaryKB + " (Primary KB)" }}</h3>
                                <!-- Selection of a candidate(s) for the current knowledge base -->
                                <select size="3"
                                        ng-model="currentItems[selectedPosition.row][selectedPosition.column][primaryKB]"
                                        multiple
                                        ng-options="opt.entity.resource as opt.entity.label + ' ' + '(' + opt.entity.resource + ')' for opt in result.headerAnnotations[selectedPosition.column].candidates[primaryKB ]"
                                        class="modal-body"></select>



                                <!-- Separate div for each knowledge base -->
                                <div ng-repeat="(knowledgeBase, candidates) in result.headerAnnotations[selectedPosition.column].candidates">
                                    <div ng-if="knowledgeBase != primaryKB">
                                        <h3>{{ knowledgeBase }}</h3>
                                        <!-- Selection of a candidate(s) for the current knowledge base -->
                                        <select size="3"
                                                ng-model="currentItems[selectedPosition.row][selectedPosition.column][knowledgeBase]"
                                                multiple
                                                ng-options="opt.entity.resource as opt.entity.label + ' ' + '(' + opt.entity.resource + ')' for opt in candidates"
                                                class="modal-body"></select>

                                    </div>
                                </div>
                                <br>
                                <input type="checkbox" ng-model="ignoredColumn[selectedPosition.column]"> Ignore Column <br>
                                <input type="checkbox" ng-model="noDisambiguationColumn[selectedPosition.column]"> Skip disambiguation in all cell of this collumn <br>
                                Own classification: <input type="text" ng-model="currentItems[selectedPosition.row][selectedPosition.column].other">
                            </div>



                            <!-- Cell disambiguation -->
                            <div ng-if="(selectedPosition.row != -1)">
                                <div class="modal-head">
                                    <h2>Cell disambiguation</h2>
                                </div>
                                <!-- Separate div for each knowledge base -->
                                <h3 ng-class="'boldPrimaryKB'">{{ primaryKB + " (Primary KB)"}}</h3>
                                <!-- Selection of a candidate(s) for the current knowledge base -->


                                <select size="3"
                                        ng-model=" currentItems[selectedPosition.row][selectedPosition.column][primaryKB]"
                                        multiple
                                        ng-options="opt.entity.resource as  opt.entity.label + ' ' + '(' + opt.entity.resource + ')' for opt in result.cellAnnotations[selectedPosition.row][selectedPosition.column].candidates[primaryKB]"
                                        class="modal-body"></select>

                                <!-- Separate div for each knowledge base -->
                                <div ng-repeat="(knowledgeBase, candidates) in result.cellAnnotations[selectedPosition.row][selectedPosition.column].candidates">

                                    <div ng-if="knowledgeBase != primaryKB">
                                        <h3>{{ knowledgeBase }}</h3>
                                        <!-- Selection of a candidate(s) for the current knowledge base -->


                                        <select size="3"
                                                ng-model=" currentItems[selectedPosition.row][selectedPosition.column][knowledgeBase]"
                                                multiple
                                                ng-options="opt.entity.resource as  opt.entity.label + ' ' + '(' + opt.entity.resource + ')' for opt in candidates"
                                                class="modal-body"></select>

                                    </div>
                                </div>


                                <input type="checkbox" ng-model="noDisambiguationCell[selectedPosition.row][selectedPosition.column]"> Skip disambiguation in the cell<br>
                                Own disambiguation: <input type="text" ng-model="currentItems[selectedPosition.row][selectedPosition.column].other">

                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <!-- VIEW: Default -->
            <div ng-switch-default>
                <!-- TODO: Nie je ten default zbytocny? Aj tak je v controlleri nastaveny defaultny stav ako "1" -->
                <h2>Choosing of relationships between columns</h2>
            </div>
        </div>

        <!-- VIEW: Pagination -->
        <div class="text-center">
            <ul class="pagination">
                <li><a class="pointer" ng-click="setState(state - 1)">Previous</a></li>
                <!-- Numbers for each of the pages -->
                <li ng-repeat="single_state in states track by $index" ng-class="$index == state ? 'active' : ''">
                    <a class="pointer" ng-click="setState($index)">
                        {{ $index }}
                    </a>
                </li>
                <li><a class="pointer" ng-click="setState(state + 1)">Next</a></li>
            </ul>
        </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer>
    <p>A brand new footer.</p>
</footer>

