<!-- Main Content -->
<!-- TODO: Styly treba premiestnit do css/less. Pouzi helpers.less pre "miscellaneous" styly. -->


<main-cnt>
    <!-- NavBar -->
    <navbar selected="-1" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <div class="container-fluid">

        <!-- VIEW -->
        <div ng-switch="state" ng-init="state = 0">

            <!-- VIEW: Sets subject column  -->
            <div ng-switch-when="0">
                <h2>Choosing of classifications and disambiguations</h2>
                <pre>{{locked.tableCells}} </pre>
                <!--<pre>{{selectedPosition}} </pre>-->
                <!--<pre> dis:{{feedback}} </pre>-->
                <!--<pre>{{result.headerAnnotations[0].chosen}}</pre>-->
                <!--<pre>{{feedback.disambiguations[0].annotation.chosen}} </pre>-->

                <!--<pre>{{result.cellAnnotations[0][1].chosen}} </pre>-->
                <!-- Input file table -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <!-- wrong directive-->
                        <tr ng-class="'headerRow'"
                            rows-of-classification-table row="inputFile.columns" row-index="-1"
                            data="result.headerAnnotations">
                        </tr>
                        </thead>
                        <tbody>
                        <!-- wrong directive-->
                        <tr ng-class-even="'evenRow'"
                            ng-repeat="row in inputFile.rows"

                            rows-of-classification-table row="row" row-index="$index"
                            data="result.cellAnnotations[$index]">

                        </tr>
                        </tbody>
                    </table>
                </div>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog lg">

                        <div class="modal-content">
                            <div class="container-fluid">
                                <!-- Column classification -->
                                <div ng-if="(selectedPosition.row == -1)">
                                    <modal-head>Column classification</modal-head>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <h3 ng-class="'boldPrimaryKB'">{{primaryKB + " (Primary KB)" }}</h3>
                                            <!-- Selection of a candidate(s) for the current knowledge base -->
                                            <!--<select-box-->
                                                    <!--data = "result.headerAnnotations"-->
                                                    <!--kb = "primaryKB"-->
                                                    <!--column = "selectedPosition.column"-->
                                                    <!--locked = "locked.tableCells[-1]"-->
                                            <!--&gt;-->
                                            <!--</select-box>-->
                                            <select-box  knowledge-base = "primaryKB" ></select-box>

                                        </div>

                                        <!-- Separate div for each knowledge base -->
                                        <div ng-repeat="(knowledgeBase, candidates) in result.headerAnnotations[selectedPosition.column].candidates">
                                            <div ng-if="knowledgeBase != primaryKB">
                                                <div class="form-group">
                                                    <h3>{{ knowledgeBase }}</h3>
                                                    <!--<select-box-->
                                                            <!--data = "result.headerAnnotations"-->
                                                            <!--kb = "knowledgeBase"-->
                                                            <!--column = "selectedPosition.column"-->
                                                            <!--locked = "locked.tableCells[-1]"-->
                                                    <!--&gt;</select-box>-->
                                                    <select-box  knowledge-base = "knowledgeBase"></select-box>

                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                        <button class="btn  btn-lg" data-toggle="modal" data-target="#newEntities">
                                            Proposal
                                        </button>
                                        <br>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Search: </label>
                                            <div class="col-md-6">

                                                <input type="text" class="form-control"
                                                       ng-model="string">
                                            </div>

                                            <div class="col-md-4 text-center">
                                                <button type="button" class="form-control"
                                                ng-click="getSuggestions(string,'10')">
                                                Find
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label"></label>
                                            <div class="col-md-6">
                                                <select style = "width: 100%"
                                                        ng-model="suggestion"
                                                        ng-options=" suggest.resource + ' ' + suggest.label  for suggest in suggestions">

                                                </select>


                                                <!--<ui-select-->
                                                        <!--ng-init = "bla = $select.search"-->
                                                        <!--ng-model="suggestion"-->
                                                        <!--theme="bootstrap"-->
                                                        <!--search-enabled="true"-->
                                                        <!--width="100"-->
                                                        <!--ng-change="getSuggestions($select.search,'10')">-->
                                                    <!--<ui-select-match ng-init = "bla = $select.search" placeholder="Write...">-->
                                                        <!--&lt;!&ndash;{{$select.selected.label}}&ndash;&gt;-->
                                                        <!--&lt;!&ndash;&#13;&#10;&ndash;&gt;-->
                                                        <!--({{$select.selected.resource}})-->
                                                    <!--</ui-select-match>-->
                                                    <!--<ui-select-choices-->
                                                            <!--ng-init = "bla = $select.search"-->
                                                            <!--repeat="opt in suggestions ">-->

                                                        <!--<span ng-bind-html="opt.label"></span>-->
                                                        <!--<div ng-bind-html="' ('+opt.resource + ')'"></div>-->
                                                    <!--</ui-select-choices>-->

                                                <!--</ui-select>-->





                                            </div>

                                            <div class="col-md-4 text-center">
                                                <!--<button type="button" class="form-control"-->
                                                        <!--ng-click="getSuggestions('Prag','10')">-->
                                                    <!--Add-->
                                                <!--</button>-->
                                                <button type="button" class="form-control"
                                                        ng-click="addSuggestions(suggestion)">
                                                    Add+
                                                </button>
                                                <!-- Icon 'loading' -->

                                            </div>
                                        </div><div>{{bla}}</div>
                                        <br>

                                        <div>sug:{{suggestion}}</div>
                                        <!-- user can write own classification -->
                                        <div class="form-group">
                                            <label class="control-label"> Own classification:</label>
                                            <!--<input type="text" class="form-control" ng-model="currentItems[selectedPosition.row][selectedPosition.column].other[0].resource" ng-disabled="true">-->
                                            <!--TODO blbe predelat other neexistuje-->
                                            <input type="text" class="form-control"
                                                   ng-model="result.headerAnnotations[selectedPosition.column].chosen.other[0]"
                                                   ng-disabled="true">
                                        </div>
                                        <!-- algorithm ignore chosen column -->
                                        <div class="checkbox">
                                            <label><input type="checkbox"
                                                          ng-model="ignoredColumn[selectedPosition.column]"
                                                          ng-disabled="true"> Ignore Column</label>
                                        </div>

                                        <div class="checkbox">
                                            <label><input type="checkbox"
                                                          ng-model="noDisambiguationColumn[selectedPosition.column]"
                                                          ng-disabled="true"> Skip disambiguation in all cell of
                                                this
                                                collumn </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cell disambiguation -->
                                <div ng-if="(selectedPosition.row != -1)">
                                    <modal-head>Cell disambiguation</modal-head>

                                    <div class="modal-body">

                                        <div class="form-group">
                                            <!-- Separate div for each knowledge base -->
                                            <h3 ng-class="'boldPrimaryKB'">{{ primaryKB + " (Primary KB)"}}</h3>
                                            <!-- Selection of a candidate(s) for the current knowledge base -->
                                            <!--<select-box-->
                                                    <!--data = "result.cellAnnotations[selectedPosition.row]"-->
                                                    <!--kb = "primaryKB"-->
                                                    <!--column = "selectedPosition.column"-->
                                                    <!--locked = "locked.tableCells[selectedPosition.row]"-->
                                            <!--&gt;</select-box>-->
                                            <select-box knowledge-base = "primaryKB" ></select-box>
                                            <!-- Separate div for each knowledge base -->
                                            <div ng-repeat="(knowledgeBase, candidates) in result.cellAnnotations[selectedPosition.row][selectedPosition.column].candidates">

                                                <div ng-if="knowledgeBase != primaryKB">
                                                    <div class="form-group">
                                                        <h3>{{ knowledgeBase }}</h3>
                                                        <!-- Selection of a candidate(s) for the current knowledge base -->
                                                        <!--<select-box-->
                                                                <!--data ="result.cellAnnotations[selectedPosition.row]"-->
                                                                <!--kb = "knowledgeBase"-->
                                                                <!--column = "selectedPosition.column"-->
                                                                <!--locked = "locked.tableCells[selectedPosition.row]"-->
                                                        <!--&gt;</select-box>-->
                                                        <select-box knowledge-base = "knowledgeBase"></select-box>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- user can write own classification -->
                                            <div class="form-group">
                                                <label class="control-label"> Own disambiguation:</label>

                                                <!--<input class="form-control" type="text" ng-model="currentItems[selectedPosition.row][selectedPosition.column].other[0].resource" ng-disabled="true">-->
                                                <!--TODO asi blbe other neexistuje-->
                                                <input class="form-control" type="text"
                                                       ng-model="result.cellAnnotations[selectedPosition.row][selectedPosition.column].chosen.other[0].resource"
                                                       ng-disabled="true">


                                                <div class="checkbox">
                                                    <label><input type="checkbox"
                                                                  ng-model="noDisambiguationCell[selectedPosition.row][selectedPosition.column]"
                                                                  ng-disabled="true"> Skip disambiguation in the
                                                        cell</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="newEntities" class="modal fade" role="dialog">
                    <div class="modal-dialog lg">
                        <div class="modal-head">

                        </div>

                        <div class="modal-content">
                            <form class="form-horizontal" role="form">
                                <!--<div class="container-fluid">-->

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Label:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" ng-model="proposal.label" required>
                                    </div>
                                </div>

                                <br>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Alternative label:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" ng-model="proposal.alternativeLabel">
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Alternative label:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" ng-model="proposal.alternativeLabel2">
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Custom url:</label>
                                    <label class="col-md-4 control-label">url-zmenit podle ceho</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" ng-model="proposal.suffixUrl" required>
                                    </div>
                                </div>

                                <div ng-if="(selectedPosition.row == -1)">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Subclass of:</label>
                                        <div class="col-md-8">
                                            <!--<input type="text" class="form-control" ng-model="" \>-->
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <!-- Button 'upload' -->
                                            <button ng-hide="" type="button" class="form-control"
                                                    ng-click="">
                                                Use
                                            </button>
                                            <!-- Icon 'loading' -->
                                            <i ng-hide="!fileUpload.uploadingFile"
                                               class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                        </div>
                                    </div>

                                    <br>
                                </div>

                                <div ng-if="(selectedPosition.row != -1)">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Class</label>
                                        <!--<label class="col-md-4 control-label"-->
                                               <!--ng-repeat="class in result.headerAnnotations[selectedPosition.row].chosen">-->
                                            <!--{{class}}-->
                                        <!--</label>-->
                                        <div class="col-md-6">
                                            ne tlacitko
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <button ng-hide="" type="button" class="form-control"
                                        ng-click="">
                                    OK
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- VIEW: Sets classifications and disambiguations -->
            <div ng-switch-when="1">

                <subject-column-tables></subject-column-tables>

            </div>

            <!-- VIEW: Relations -->
            <div ng-switch-when="2">
                <h2>Choosing of predicates</h2>
                <pre>{{locked.graphEdges}} </pre>

                <!-- Modal -->
                <div id="modalPredicates" class="modal fade" role="dialog">
                    <div class="modal-dialog lg">
                        <div class="modal-content">
                            <!-- Headline -->
                            <div class="modal-head">
                                <div class="row">
                                    <h2 class="col-md-11" ng-transclude></h2>
                                    <h2 class="col-md-1">
                                        <lock locked="locked.graphEdges" first-parametr="{{selectedRelation.column1}}"  second-parametr="{{selectedRelation.column2}}"></lock>
                                    </h2>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <!-- Separate div for each knowledge base -->
                                        <h3 ng-class="'boldPrimaryKB'">{{ primaryKB + " (Primary KB)"}}</h3>
                                        <!-- Selection of a candidate(s) for the current knowledge base -->
                                        <ui-select
                                                ng-model="currentRelations[selectedRelation.column1][selectedRelation.column2][primaryKB]"
                                                multiple limit="1" theme="bootstrap" search-enabled="true"
                                                on-select="switchRelation($item.entity, primaryKB)"
                                                ng-change="gvmodal.modalPredicatesChange();lockRelation()">
                                            <ui-select-match placeholder="Pick one...">
                                                {{$item.entity.resource}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="opt.entity as opt in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates[primaryKB]  | propsFilter : {'entity.resource': $select.search}">
                                                <div title={{opt.entity.resource}}
                                                     ng-bind-html="opt.entity.resource| highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <!-- Separate div for each knowledge base -->
                                    <div ng-repeat="(knowledgeBase, candidates) in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates">
                                        <div ng-if="knowledgeBase != primaryKB">
                                            <div class="form-group">
                                                <h3>{{ knowledgeBase }}</h3>
                                                <!-- Selection of a candidate(s) for the current knowledge base -->
                                                <ui-select
                                                        ng-model="currentRelations[selectedRelation.column1][selectedRelation.column2][knowledgeBase]"
                                                        multiple limit="1" theme="bootstrap"
                                                        search-enabled="true"
                                                        on-select="switchRelation($item.entity, knowledgeBase)"
                                                        ng-change="gvmodal.modalPredicatesChange();lockRelation()">
                                                    <ui-select-match placeholder="Pick one...">
                                                        {{$item.entity.resource}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="opt.entity as opt in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates[ knowledgeBase]  | propsFilter : {'entity.resource': $select.search}">
                                                        <div title={{opt.entity.resource}}
                                                             ng-bind-html="opt.entity.resource| highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- user can write own relation -->
                                    <div class="form-group">
                                        <label class="control-label">Own relation:</label>
                                        <input class="form-control" type="text"
                                               ng-change="gvmodal.modalPredicatesChange();lockRelation()"
                                               ng-model="currentRelations[selectedRelation.column1][selectedRelation.column2].other[0].resource">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Graph visualiser -->
                <graphvis scope="{{ gvscope }}"></graphvis>
            </div>

            <!-- VIEW: Default -->
            <div ng-switch-default>
                <!-- TODO: Nie je ten default zbytocny? Aj tak je v controlleri nastaveny defaultny stav ako "1" -->
                <h2>Choosing of relationships between columns</h2>
            </div>

        </div>

        <div class="form-group odalic-hr-pushbtm">
            <div class="col-md-2">
                <!--TODO spustit to znova-->
                <button class="btn btn-lg btn-block" ng-click="" disabled="true">
                    Start from the beginning
                </button>
            </div>
            <div class="col-md-2">
                <!--TODO prepsat na  Re-run the algorithm az se to bude umet na serveru-->
                <button class="btn btn-lg btn-block" ng-click="userFeedback()">
                    Send feedback
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg btn-block" ng-click="reexecute()">
                    Reexecute
                </button>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <button class="btn btn-lg btn-block" ng-click="state = state - 1" ng-disabled="state <= 0">
                    Previous step
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg btn-block" ng-click="state = state + 1" ng-disabled="state >= 2">
                    Next step
                </button>
            </div>
        </div>

        <!-- Export -->
        <div class="odalic-hr-pushtop">
            <div class="col-md-12">
                <div class="odalic-hr-separator">Export</div>
            </div>

            <div class="col-md-3">
                <button class="btn" ng-click="exporting.json()">Table annotations</button>
                <button class="btn" ng-click="exporting.csv()">Extended table</button>
            </div>

            <div class="col-md-9">
                <button class="btn" ng-click="exporting.turtle()">Turtle</button>
                <button class="btn" ng-click="exporting.jsonld()">JSON-LD</button>
            </div>

            <div class="col-md-12">
                <div class="odalic-hr-pushbtm"></div>
            </div>
        </div>

        <br><br>

        <!-- VIEW: Pagination -->
        <!--
        <div class="tex
            t-center">
            <div class="text-center">
                <ul class="pagination">
                    <li><a class="odalic-cursor-pointer" ng-click="setState(state - 1)">Previous</a></li>

                    <li ng-repeat="single_state in states track by $index" ng-class="$index == state ? 'active' : ''">
                        <a class="odalic-cursor-pointer" ng-click="setState($index)">
                            {{ $index }}
                        </a>
                    </li>
                    <li><a class="odalic-cursor-pointer" ng-click="setState(state + 1)">Next</a></li>
                </ul>
            </div>-->
    </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer></footer>