<div class="row form-group odalic-hr-pushbtm">
    <!-- Buttons on the right -->
    <div class="col-md-offset-4 col-md-2">
        <button-load button-class="btn btn-lg btn-block odalic-butt-export" action="reexecute" disabled="false" tooltip-msg="Re-execute the task taking into account your feedback">
            Reexecute
        </button-load>
    </div>
    <div class="col-md-2">
        <button-load button-class="btn btn-lg btn-block odalic-butt-cancel" action="saveFeedback" disabled="false" tooltip-msg="Save your feedback to the server for future adjustments of this task">
            Save feedback
        </button-load>
    </div>
    <div class="col-md-2">
        <button class="btn btn-lg btn-block odalic-butt-cancel" ng-click="miscellaneous.goBack()" uib-tooltip="Cancel your feedback and return to the list of tasks" tooltip-placement="top">
            Cancel
        </button>
    </div>
    <div class="col-md-2">
        <button-load button-class="btn btn-lg btn-block odalic-butt-cancel" action="saveToAdequate" disabled="false" tooltip-msg="Save the resulting Linked Data to the ADEQUATe RDF store (experimental)">
            Save to RDF store
        </button-load>
    </div>


    <!-- Blank space -->
    <div class="col-md-12 odalic-hstyle-medium"/>

    <!-- Prepared messages to display to a user in case of a situation -->
    <injector for="msgtxt.sendFailure">An error occurred while sending the feedback to the server.</injector>
    <injector for="msgtxt.startFailure">An error occurred while trying to re-run the task. Feedback was sent, however.</injector>
    <injector for="msgtxt.feedbackSaved">Feedback saved successfully.</injector>
    <injector for="msgtxt.adequateSaved">Successfully initialized saving the task to Adequate. This operation may take a couple a minutes.</injector>
    <injector for="msgtxt.saveFailure">An error occurred while saving the task to Adequate.</injector>

    <!-- Reporting situations to a user -->
    <div class="col-md-12">
        <alert-group bind="messages" disappearing="default"/>
    </div>
</div>
