/*
 * Cursors
 */
.odalic-cursor-pointer {
    cursor: pointer;
}

.odalic-cursor-normal {
    cursor: default;
}


/*
 * Text
 */
.odalic-text-strikethrough {
    text-decoration: line-through;
}

.odalic-text-bold {
    font-weight: bold;
}

.odalic-text-wrap {
    word-wrap: break-word;
}


/*
 * Centralizing element over another element
 *
 * Usage:
 *  <span class="odalic-centralize-wrapper">
 *      <span>Real element</span>
 *      <span class="odalic-centralize-sibling">Element to centralize over the 'real' one</span>
 *  </span>
 */
.odalic-centralize-wrapper {
    position: relative
}

.odalic-centralize-sibling {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}


/*
 * Displaying a helper box as an alternative to tooltip, mainly to support small devices.
 */
abbrc .odalic-note {
    background: @odalic-color-lightorange;
    padding: 5px;
    position: absolute;
    white-space: nowrap;
    z-index: 99;
}
