/*
 * Colors
 */
@odalic-color-white: #ffffff;
@odalic-color-almostwhite: #eeeeee;
@odalic-color-lightgrey: #dddddd;
@odalic-color-grey: #bbbbbb;
@odalic-color-darkgrey: #999999;
@odalic-color-almostblack: #232323;
@odalic-color-black: #000000;
@odalic-color-yellow: #ffd800;
@odalic-color-lightorange: #ffac00;
@odalic-color-orange: #ff0000;
@odalic-color-darkorange: #ca0000;
@odalic-color-blue: #1293ee;
@odalic-color-lightblue: #77bff4;
@odalic-color-darkblue: #0e69ae;

@odalic-color-pp-blue: #00adee;
@odalic-color-pp-blue-dark: #0082b3;
@odalic-color-pp-blue-light: #33bdf1;
@odalic-color-pp-blue-lighter: #66cef5;
@odalic-color-pp-navi: #2f3089;
@odalic-color-pp-green: #70be44;
@odalic-color-pp-green-dark: #548f33;
@odalic-color-pp-grey: #c8cfd3;
@odalic-color-pp-grey-dark: #899196;
@odalic-color-pp-black:#232323;


/*
 * Animation settings
 */
@odalic-animation-fast: 0.2s;
@odalic-animation-quick: 0.5s;


/*
 * Height settings
 */
@odalic-height-small: 5px;
@odalic-height-medium: 15px;
@odalic-height-semibig: 30px;
@odalic-height-big: 50px;


/*
 * Fonts 
 */
@odalic-font-opensans: "../font/open_sans.ttf";
@odalic-font-raleway: "../font/raleway.ttf";

@font-face {
    font-family: 'Open Sans';
    src: url(@odalic-font-opensans);
}

@font-face {
    font-family: 'Raleway';
    src: url(@odalic-font-raleway);
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/source-sans-pro/source-sans-pro-v11-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}




/*
 * Font sizes
 */
@odalic-font-tiny: 8pt;
@odalic-font-small: 10pt;
@odalic-font-normal: 12pt;
@odalic-font-moderate: 15pt;
@odalic-font-medium: 20pt;
@odalic-font-big: 27pt;
@odalic-font-huge: 32pt;


/*
 * Other variables
 */
@bootstrap-screen-sm: 768px;
@bootstrap-padding-inner: 15px;


/*
 * Imports
 */
@import "visual.less";
@import "vschemes.less";
@import "buttons.less";
@import "textfields.less";
@import "page.less";
@import "rebootsrap.less";
@import "helpers.less";
@import "miscellaneous.less";