<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="-1" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <!-- Content -->
    <div class="col-sm-12">
        <div ng-switch="tab">

            <!-- Task definition -->
            <div ng-switch-when="taskdef">
                <div class="panel">
                    <div class="panel-body odalic-gfont-moderate panel-border odalic-bstyle-iorange">
                        Task definition
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="taskdef-name">Name:</label>
                            </div>
                            <div class="col-md-10">
                                <input id="taskdef-name" type="text" class="style4">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="email">Email:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="style4" id="email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TODO -->
            <div ng-switch-when="todo-a">
            </div>

            <!-- TODO -->
            <div ng-switch-when="todo-b">

            </div>
        </div>

        <div class="odalic-hstyle-big"></div>
    </div>

</main-cnt>

<!-- Footer -->
<footer>
    <p>A brand new footer.</p>
</footer>

<!-- Fix of alignment of labels -->
<style>
    /* TODO: This looks a little bit dirty. Anyone any ideas? */
    div.row label {
        padding-top: 6px;
    }
</style>