<h2>Step 1: Reviewing suggested classifications for columns and disambiguations for cell values</h2>
<!-- Input file table -->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <!-- Row index -1 represents headers -->
            <tr ng-class="'headerRow'"
                c-d-table-row row="inputFile.columns" row-index="-1"
                concrete-data="result.headerAnnotations" selected-position="selectedPosition"
                locked-table-cells = "locked.tableCells" chosen-k-bs="chosenKBs" primary-k-b="{{ primaryKB }}" proposal="openCDProposal"
                suggestion="openCDSelection" column-types="result.columnProcessingAnnotations">
            </tr>
        </thead>
        <tbody>
            <!-- Row index <0, inputFile.rows>  represents  disambiguation result -->
            <!--ng-repeat="row in inputFile.rows"-->
            <tr ng-class-even="'evenRow'"
                ng-repeat="row in inputFileProxy.getView() track by $index"
                c-d-table-row row="row" row-index="inputFileProxy.getModelIndex($index)"
                concrete-data="result.cellAnnotations[inputFileProxy.getModelIndex($index)]" selected-position="selectedPosition"
                locked-table-cells= "locked.tableCells" chosen-k-bs="chosenKBs" primary-k-b="{{ primaryKB }}" proposal="openCDProposal"
                suggestion="openCDSelection">
            </tr>
        </tbody>
    </table>
</div>

<!-- Pagination -->
<pagination bind="inputFileProxy" per-page="5"/>