<td ng-repeat="cell in row "
    ng-init="columnIndex = $index"
    ng-class="(rowIndex == selectedPosition.row) && ($index == selectedPosition.column) ? 'markedCell' : ''"
    ng-mouseover="selectPosition( rowIndex,$index)"
>


    <span>{{ cell }}</span>

    <!--<pre>{{row}} </pre>-->
    <!--<pre>{{rowIndex}} </pre>-->
    <!--<pre>{{ concreteData}} </pre>-->
    <!--<pre>{{selectedPosition}} </pre>-->
    <!--<pre>{{chosenKBs}} </pre>-->
    <!--<pre>{{primaryKB}} </pre>-->
    <!--<pre>{{lockedTableCells}} </pre>-->

    <div class="pull-right">
        <!-- Propose icon -->
        <a data-toggle="modal" data-target="#newEntities" class="odalic-cursor-pointer">
            <span class="fa fa-plus-square-o"></span>
        </a>

        <!-- Lock icon -->
        <c-d-lock locked="lockedTableCells" row="{{rowIndex}}" column="{{columnIndex}}"/>

        <!-- Details icon -->
        <a data-toggle="modal" data-target="#myModal" class="odalic-cursor-pointer">
            <span class="glyphicon glyphicon-new-window"></span>
        </a>
    </div>


    <!-- primary knowledge base disambiguation -->
    <!--<div ng-class="'boldPrimaryKB'" ng-style="backgroundColor(primaryKB)" ng-repeat="disam in currentItems[$parent.$index][$index][primaryKB]">-->
    <div ng-class="'boldPrimaryKB'" ng-style="backgroundColor(primaryKB)" ng-init="itemIndex = $index"
         ng-repeat="disam in concreteData[columnIndex].chosen[primaryKB]">
        <!-- Remove icon -->
        <a ng-click="removeClass(concreteData[columnIndex].chosen[primaryKB],columnIndex,$index)" class="odalic-cursor-pointer pull-right">
            <span ng-class="'fa fa-trash'"></span>
        </a>
        <span>{{ disam.entity.label + ' ' + '(' + disam.entity.resource + ')' }}</span>

    </div>
    <!-- other knowledge base disambiguation  -->
    <!--<div ng-repeat="(KB,data) in currentItems[$parent.$index][$index]">-->
    <div ng-repeat="(KB,data) in concreteData[columnIndex].chosen ">
        <div ng-if="KB != primaryKB">
            <div ng-style="backgroundColor(KB)" ng-repeat="disam in data" ng-init="itemIndex = $index" >
                <!-- Remove icon -->
                <a ng-click="removeClass(concreteData[columnIndex].chosen[KB],columnIndex,$index)" class="odalic-cursor-pointer pull-right">
                    <span ng-class="'fa fa-trash'"></span>
                </a>
                <span>{{ disam.entity.label + ' ' + '(' + disam.entity.resource + ')' }}</span>

            </div>
        </div>
    </div>
</td>