<td class="odalic-knowledge-base-row" ng-repeat="cell in row track by $index"
    ng-init="columnIndex = $index"
    ng-class="(rowIndex == selectedPosition.row) && ($index == selectedPosition.column) ? 'markedCell' : ''"
    ng-mouseover="selectPosition( rowIndex,$index)">

    <!--There is bug in the class of responsive table. Sometimes the table ignore width of div with class=pull-right (it is a div with icons)  -->
    <!--So there is a little hack with css. Each text div has right padding (bigRightPadding for three icons, rightPadding for trash icon)-->
    <!--So the text does not overlap the icons. Class up sets the icons on the top of text div.-->
    <div class="pull-right text-nowrap" >
        <!-- Propose icon -->
        <tooltip msg="Propose new resource" place="top">
            <a ng-click="proposal()" class="odalic-cursor-pointer">
                <span class="up fa fa-plus-square-o"></span>
            </a>
        </tooltip>

        <!-- Lock icon -->
        <c-d-lock locked="lockedTableCells" row="{{rowIndex}}" column="{{columnIndex}}"/>

        <!-- Details icon -->
        <tooltip msg="Details" place="top">
            <a ng-click="suggestion()" class="odalic-cursor-pointer">
                <span class="up glyphicon glyphicon-new-window"></span>
            </a>
        </tooltip>
    </div>

    <div class="bigRightPadding">
        <tooltip msg="{{ getTitle(columnIndex) }}">
            <span class="odalic-font-darkgrey odalic-text-bold">{{ cell }}</span>
        </tooltip>
    </div>


    <!--  Primary knowledge base disambiguation -->

    <div class="odalic-text-bold odalic-knowledge-base" ng-style="backgroundColor(primaryKB)" ng-init="itemIndex = $index"
         ng-repeat="disam in concreteData[columnIndex].chosen[primaryKB]">
        <!-- Remove icon -->
        <span class="pull-right">
              <tooltip msg="Remove" place="top">
                <a ng-click="removeClass(concreteData[columnIndex].chosen[primaryKB],columnIndex,$index)"
                   class=" up fa fa-trash odalic-cursor-pointer ">
                </a>
            </tooltip>
        </span>

        <!-- row of cell in format: label (url)-->
        <span class="rightPadding">
            <tooltip source="primaryKB">
                <span ng-style="{color:'black'}">{{ disam.entity.label + ' ' }}</span>
            </tooltip>
            <span class="text-nowrap odalic-text-normal">
                 <span>(</span>
                    <a target="_blank" href="{{disam.entity.resource}}">{{disam.entity.prefixed}} </a>
                 <span>)</span>
            </span>
        </span>
    </div>


    <!-- other knowledge base disambiguation  -->
    <div ng-repeat="(KB,data) in concreteData[columnIndex].chosen">

        <div ng-if="KB != primaryKB">
            <div class="odalic-text-bold odalic-knowledge-base" ng-style="backgroundColor(KB)" ng-repeat="disam in data" ng-init="itemIndex = $index">

                <!-- Remove icon -->
                <div class=" pull-right ">
                    <tooltip msg="Remove" place="top">
                        <a ng-click="removeClass(concreteData[columnIndex].chosen[KB],columnIndex,$index)"
                           class="up odalic-cursor-pointer  fa fa-trash">
                        </a>
                    </tooltip>
                </div>

                <!-- row of cell in format: label (url)-->
                <span class="rightPadding">
                    <tooltip source="KB">
                        <span  ng-style="{color:'black'}">{{ disam.entity.label + ' '}}</span>
                    </tooltip>
                    <span class="text-nowrap odalic-text-normal">
                        <span>(</span>
                        <a target="_blank" href="{{disam.entity.resource}}">{{disam.entity.prefixed}} </a>
                        <span>)</span>
                    </span>
                </span>
            </div>
        </div>

    </div>
</td>
