<!-- Prepared messages for alert-group -->
<injector for="msgtxt.failure">An error occurred while logging in.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="login" lmenu="default-lm.json" rmenu="default-rm.json" />

    <!-- Content -->
    <div class="container-fluid">
        <div ng-switch="status">
            <!-- Log in -->
            <div ng-switch-default>
                <!-- Panel -->
                <div class="col-sm-6 col-md-offset-3">
                    <div class="panel">
                        <div class="panel-body odalic-bstyle-lightorange odalic-gfont-moderate">
                            Log in
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" name="loginForm" ng-init="setForm(this, 'loginForm')" ng-submit="login.logobj.submit()">
                                <!-- Username -->
                                <div class="col-md-6 ">
                                    <strong>Username: *</strong>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="username" ng-model="login.username" required>
                                    <div ng-messages="loginForm.username.$error" ng-if='loginForm.username.$dirty' role="alert">
                                        <div ng-message="required"><error-msg>Username must not be empty.</error-msg></div>
                                    </div>
                                </div>

                                <!-- Empty space -->
                                <div class="col-md-12 odalic-hstyle-small"></div>

                                <!-- Password -->
                                <div class="col-md-6">
                                    <strong>Password: *</strong>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="password" name="password" ng-model="login.password" required>
                                    <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty' role="alert">
                                        <div ng-message="required"><error-msg>Password must not be empty.</error-msg></div>
                                    </div>
                                </div>

                                <!-- Empty space -->
                                <div class="col-md-12 odalic-hstyle-small"></div>

                                <!-- Submit -->
                                <div class="col-md-6 col-md-offset-6">
                                    <button-load button-class="form-control" button-type="submit" action="login.login" bind="login.logobj" disabled="false">Log in</button-load>
                                </div>
                            </form>
                        </div>
                        <div class="panel-body odalic-gfont-small">
                            Don't have an account yet? <a href="#/signup">Sign up!</a>
                        </div>
                    </div>
                </div>

                <!-- Notifications -->
                <div class="col-md-12">
                    <alert-group bind="login.alerts" disappearing="default" />
                </div>
            </div>

            <!-- Already logged in -->
            <div ng-switch-when="logged">
                <div class="col-md-6 col-md-offset-3">
                    <alert bind="logged.alert" closable="false" type="neutral">
                        <span class="glyphicon glyphicon-user"/><strong ng-if='authh.getLoginMode() !== "gitlab"'>Logged in as {{ logged.account.getUsername() }}.</strong><strong ng-if='authh.getLoginMode() === "gitlab"'>Logged in via Gitlab.</strong> <a ng-click="logged.logout()" class="odalic-cursor-pointer">Log out?</a> <a href="#/chngpasswd" ng-if='authh.getLoginMode() !== "gitlab"'>Change password?</a> <a data-toggle="collapse" data-target="#tokenDiv" class="odalic-cursor-pointer">Show token?</a><br/>
                    </alert>

                    <!-- Token -->
                    <div id="tokenDiv" class="collapse odalic-text-wrap well well-sm">
                        {{ logged.account.getToken() }}
                    </div>
                </div>
            </div>

            <!-- Token validation -->
            <div ng-switch-when="evaluating">
                <div class="text-center odalic-gfont-moderate">
                    Assuring token validity, please wait...
                </div>
            </div>
        </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>