<!-- Export buttons-->
<fieldset ng-disabled="feedbackChanged">
    <legend class="col-md-12" style="text-align:right">Export/Save results of the transformation in the desired format</legend>

    <!-- Warning for pending changes -->
    <div class="col-md-12" ng-if="feedbackChanged">
        <i class="fa fa-exclamation-triangle fa-lg odalic-font-darkorange"></i> Export may not contain your changes (feedback). Before exporting the data, please <a-load action="reexecute">reexecute</a-load> the task.
        <div class="odalic-hstyle-small"></div>
    </div>

    <div>
        <div class="col-md-offset-6 col-md-2">
            <a-fake ajax="exporting.csv" type="text/csv">
                <a class="btn btn-lg btn-block odalic-butt-affirmative">Enriched CSV</a>
            </a-fake>
            &nbsp;
        </div>

        <!--
        <div class="pull-left">
            <a-fake ajax="exporting.json" type="application/json">
                <a class="btn btn-lg btn-block odalic-butt-export">Annotations</a>
            </a-fake>
            &nbsp;
        </div>
        -->
        <div class="col-md-2">
            <a-fake ajax="exporting.turtle" type="text/turtle">
                <a class="btn btn-lg btn-block odalic-butt-affirmative">RDF (Turtle)</a>
            </a-fake>
            &nbsp;
        </div>
        <div class="col-md-2">
            <a-fake ajax="exporting.jsonld" type="application/ld+json">
                <a class="btn btn-lg btn-block odalic-butt-affirmative">RDF (JSON-LD)</a>
            </a-fake>
        </div>
    </div>
</fieldset>

<!-- Blank space -->
<div class="odalic-hr-pushbtm"></div>
