<div class="table-responsive">
    <table class="table table-bordered">

        <thead>
        <tr ng-class="'headerRow'">
            <td ng-repeat="cell in ['Column','Predicate','Action']">
                {{cell}}
            </td>
        </tr>
        </thead>
        <tbody>

        <tr ng-class-even="'evenRow'"
            ng-repeat="predicateObj in result.statisticalAnnotations|get:primaryKB:type:headers">
            <td>
                {{predicateObj.label}}
            </td>
            <td>

                <!--only one predicate can be chosen-->
                <span ng-if="predicateObj.predicate.chosen[primaryKB].length == 1" ng-style="backgroundColor(primaryKB)">
                    <span>{{ predicateObj.predicate.chosen[primaryKB][0].entity.label + ' '+ '('}}</span>
                    <a targer="_blank" href="{{predicateObj.predicate.chosen[primaryKB][0].entity.resource}}">
                        {{predicateObj.predicate.chosen[primaryKB][0].entity.prefixed}}
                    </a>
                    <span>)</span>
                </span>

                <div class="pull-right">
                    <!-- Propose icon -->
                    <tooltip msg="Propose" place="top">
                        <a ng-click="openStatisticalRProposal(predicateObj.index)" class="odalic-cursor-pointer">
                            <span class="fa fa-plus-square-o"></span>
                        </a>
                    </tooltip>

                    <!--Lock icon-->
                    <r-lock current-lock="locked" click="gvdata.update" column2="predicateObj.index"/>

                    <!-- Details icon -->
                    <tooltip msg="Details" place="top">
                        <a ng-click="openStaticalRSelection(predicateObj.index)" class="odalic-cursor-pointer">
                            <span class="glyphicon glyphicon-new-window"></span>
                        </a>
                    </tooltip>
                </div>
            </td>
            <td>
                <div class="pull-right">
                    <tooltip msg="Remove from table" place="top">
                        <a class="btn btn-default" ng-click="moveToNone(predicateObj)">
                            <span class="fa fa-times"></span>
                        </a>
                    </tooltip>
                </div>
            </td>
        </tr>
        </tbody>

        </tbody>


    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <select class="form-control"
                ng-model="pickedRow"
                ng-options=" predicateObj.label for predicateObj in result.statisticalAnnotations|get:primaryKB:'NONE':headers ">
        </select>
    </div>
    <div class="col-md-8">
        <button class="btn btn " ng-click="pickedRow.component[primaryKB] = type"> Add to {{type|lowercase}}s</button>
    </div>
</div>