<form class="form-horizontal" role="form">
<div class="container-fluid">
    <div class="form-group">
        <label class="col-md-4 control-label">Label:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" ng-model="proposal.label" required>
        </div>
    </div>

    <br>

    <div class="form-group">
        <label class="col-md-4 control-label">Alternative label:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" ng-model="proposal.alternativeLabel">
        </div>
    </div>
    <br>

    <div class="form-group">
        <label class="col-md-4 control-label">Alternative label:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" ng-model="proposal.alternativeLabel2">
        </div>
    </div>
    <br>

    <div class="form-group">
        <label class="col-md-4 control-label">Custom URL suffix:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" ng-model="proposal.suffixUrl" required>
        </div>
    </div>

    <!--<div ng-if="(selectedPosition.row == -1)">-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-2 control-label">Subclass of:</label>-->
    <!--<div class="col-md-8">-->
    <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="" \>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-2 text-center">-->
    <!--&lt;!&ndash; Button 'upload' &ndash;&gt;-->
    <!--<button ng-hide="" type="button" class="form-control"-->
    <!--ng-click="">-->
    <!--Use-->
    <!--</button>-->
    <!--&lt;!&ndash; Icon 'loading' &ndash;&gt;-->
    <!--<i ng-hide="!fileUpload.uploadingFile"-->
    <!--class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>-->
    <!--</div>-->
    <!--</div>-->

    <!--<br>-->
    <!--</div>-->

    <!--<div ng-if="(selectedPosition.row != -1)">-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-2 control-label">Class</label>-->
    <!--&lt;!&ndash;<label class="col-md-4 control-label"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-repeat="class in result.headerAnnotations[selectedPosition.row].chosen">&ndash;&gt;-->
    <!--&lt;!&ndash;{{class}}&ndash;&gt;-->
    <!--&lt;!&ndash;</label>&ndash;&gt;-->
    <!--<div class="col-md-6">-->
    <!--ne tlacitko-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <br>
    <button type="button" class="btn btn-lg" ng-click="setProposal(proposal)">
        OK
    </button>
</div>
</form>