<form name="cDProposeForm" novalidate class="form-horizontal" role="form">
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-md-4 control-label">Label:</label>
            <div class="col-md-8">
                <input name="label" class="form-control" type="text" ng-model="proposal.label" required>
            </div>

            <div class="col-md-8 col-md-offset-4" ng-messages="cDProposeForm.label.$error" style="color:red" role="alert">
                <div ng-message="required">You did not enter a field</div>
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label class="col-md-4 control-label">Alternative label:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" ng-model="proposal.alternativeLabel">
            </div>
        </div>
        <br>

        <div class="form-group">
            <label class="col-md-4 control-label">Alternative label:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" ng-model="proposal.alternativeLabel2">
            </div>
        </div>
        <br>

        <div class="form-group">
            <label class="col-md-4 control-label">Custom URL suffix:</label>
            <div class="col-md-8">
                <input name="suffixUri" class="form-control" type="text" ng-model="proposal.suffixUrl" required>
                <div ng-messages="cDProposeForm.suffixUri.$error" style="color:red" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                </div>
            </div>

            <br>
        </div>

        <!--<div ng-if="(selectedPosition.row == -1)">-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label">Subclass of:</label>-->
                <!--<div class="col-md-8">-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="" \>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-2 text-center">-->
                    <!--&lt;!&ndash; Button 'upload' &ndash;&gt;-->
                    <!--<button ng-hide="" type="button" class="form-control"-->
                            <!--ng-click="">-->
                        <!--Use-->
                    <!--</button>-->
                    <!--&lt;!&ndash; Icon 'loading' &ndash;&gt;-->
                    <!--<i ng-hide="!fileUpload.uploadingFile"-->
                       <!--class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>-->
                <!--</div>-->
            <!--</div>-->

            <!--<br>-->
        <!--</div>-->

        <div ng-if="(selectedPosition.row != -1)">

            <label class="col-md-4 control-label">Class:</label>
            <div class="col-md-8">
                <input name="classification" class="form-control" type="text"
                       ng-disabled="true"
                       ng-model="result.headerAnnotations[selectedPosition.column].chosen[primaryKB][0].entity.resource" required>
                <div ng-messages="cDProposeForm.classification.$error" style="color:red" role="alert">
                    <div ng-message="required">This column doesn't have a chosen classification. You can't add a propose.</div>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Class:</label>-->
                <!--<div class="col-md-8">-->
                    <!--<input name="class" class="form-control" type="text"-->
                           <!--ng-model="result.headerAnnotations[selectedPosition.column].chosen[primaryKB][0].entity.resource" reguired>-->
                    <!--<div ng-messages="cDProposeForm.class.$error" style="color:red" role="alert">-->
                        <!--<div ng-message="required">This column doesn't have a chosen classification. You can't add a propose. </div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <br/>

        <button type="submit" ng-disabled="!cDProposeForm.$valid" class="btn btn-lg" ng-click="setProposal(proposal)">
            OK
        </button>


        <alert bind="serverResponse">
            {{messege}}
        </alert>

    </div>
</form>