<div class="odalic-content-wide">
    <div class="modal-header">
        <div class="row" id="modal-title">
            <h2 class="col-md-11">Propose {{dialogTitle()}}</h2>
            <h2 class=" col-md-1">
                <modal-closing closing-function="close"/>
            </h2>
        </div>
    </div>
    <div class="container-fluid" id="modal-body">
        <form name="cDProposeForm" novalidate class="form-horizontal" role="form">
            <br/>
            <div ng-if="disableDisambCondition==true">
                <alert bind="missingColumnClass" type="error" closable="false">
                    You cannot propose disambiguation if a column classification for the primary knowledge base is not
                    set.
                    Please first set the column classification!
                </alert>
            </div>
            <div ng-if="disableDisambCondition==false">

                <div class="form-group">
                    <label class="col-md-4 control-label" title="required">Label *</span></label>
                    <div class="col-md-8">
                        <input name="label" class="form-control" type="text" ng-model="proposal.label" ng-init="proposal.label=selectedPosition.value" required>
                        <div ng-messages="(cDProposeForm.$submitted || cDProposeForm.label.$dirty) && cDProposeForm.label.$error"
                             role="alert">
                            <div ng-message="required">
                                <error-msg>Label is mandatory</error-msg>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="selectedPosition.row !== -1"> <!-- Only for proposing named entities (not classes) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Alternative label</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="proposal.alternativeLabel">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Alternative label</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="proposal.alternativeLabel2">
                        </div>
                    </div>
                </div>

                <div ng-if="selectedPosition.row === -1"> <!-- Only for proposing classes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Custom URL suffix</label>
                        <div class="col-md-8">
                            <input name="suffixUri" class="form-control" type="text" ng-model="proposal.suffixUrl">
                        </div>
                    </div>
                </div>




                <div ng-if="selectedPosition.row !== -1"> <!-- Only for proposing named entities (not classes) -->
                    <div class="form-group">

                        <label class="col-md-4 control-label">Class:</label>
                        <div class="col-md-8">
                            <input name="classification" class="form-control" type="text"
                                   ng-disabled="true"
                                   ng-model="columnClass[0].entity.prefixed"
                                   required>
                        </div>
                    </div>

                </div>

                <br/>

                <button class="btn btn-lg col-md-2 col-lg-offset-10 " type="submit"
                        ng-click="setProposal(proposal)">
                    OK
                </button>

                <div class="form-group">
                    <div class="col-md-12">
                        <alert bind="serverResponse" type="success">
                            {{messege}}
                        </alert>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
