<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog lg">
        <div class="modal-content">
            <div class="container-fluid">
                <!-- Head -->
                <div class="modal-head">
                    <c-d-modal-head/>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <c-d-selecting
                            primary-k-b="{{primaryKB}}"
                            selected-position="selectedPosition" ,
                            locked="locked" ,
                            result="result"/>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="form-control" data-toggle="modal"
                                    data-target="#newEntities">
                                Proposal
                            </button>
                        </div>
                    </div>

                    <!-- Suggestions -->
                    <c-d-suggestions selected-position="selectedPosition" ,
                                     locked="locked" ,
                                     primary-k-b="{{primaryKB}}" ,
                                     result="result"/>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-medium"></div>

                    <c-d-check-boxes selected-position="selectedPosition"
                                     locked="locked"
                                     ignored-column="ignoredColumn"
                                     no-disambiguation-cell="noDisambiguationCell"
                                     no-disambiguation-column="noDisambiguationColumn"/>

                </div>
            </div>
        </div>
    </div>
</div>