<!-- SelectBox with only one possibility to choose from -->
<ui-select
        ng-model="data.chosen[knowledgeBase]"
        multiple limit="1" theme="bootstrap"
        search-enabled="true"
        ng-change="lockCell()"
        on-select="switchChosen($item, knowledgeBase);lockCell() "
        class="uis-aclass">

    <!-- Currently selected concept -->
    <ui-select-match placeholder="">
        <img ng-click="createIframe($item.entity,knowledgeBase,$event)"
             title="lodlive browser"
             ng-src="{{ lodLiveBrowserIcon }}"
             class="selectBoxIcon uism-aclass"/>
        &nbsp
        <span title="label">{{ $item.entity.label | shortstr: maxlen }}</span>  &nbsp
        <span title="score">{{ $item.score.value| nullOrNumber:2}}</span> <br/>
        <span title={{$item.entity.resource}}>({{ $item.entity.resource | shortstr: maxlen }})</span>
    </ui-select-match>

    <!-- Menu to choose the concept from (basically a ComboBox) -->
    <ui-select-choices
            repeat="opt in data.candidates[knowledgeBase]  | propsFilter : {'entity.resource': $select.search, 'entity.label': $select.search}">
        <img ng-click="createIframe(opt,knowledgeBase,$event)"
             title="lodlive browser"
             ng-src="{{ lodLiveBrowserIcon }}"
             ng-class="'selectBoxIcon'">
        &nbsp
        <span title="label"
              ng-bind-html="opt.entity.label | highlight: $select.search"></span>
        &nbsp
        <span title="score">{{opt.score.value | nullOrNumber:2}}</span>
        <br/>
        <div title={{opt.entity.resource}}
             ng-bind-html="'(' + opt.entity.resource + ')' | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>