<div class="form-group">
    <h3 ng-class="'boldPrimaryKB'">{{primaryKB + " (Primary KB)" }}</h3>
    <!--Selection of a candidate(s) for the current knowledge base-->
    <c-d-select-box knowledge-base="{{primaryKB}}"
                    selected-position="selectedPosition" ,
                    locked="locked" ,
                    result="result">
    </c-d-select-box>
</div>

<!-- Separate div for each knowledge base -->
<div ng-repeat="(knowledgeBase, candidates) in data().candidates">
    <div ng-if="knowledgeBase != primaryKB">
        <div class="form-group">
            <h3>{{ knowledgeBase }}</h3>
            <c-d-select-box knowledge-base="{{knowledgeBase}}"
                            selected-position="selectedPosition" ,
                            locked="locked" ,
                            result="result">
            </c-d-select-box>
        </div>
    </div>
</div>