<div class="row">
    <!-- Selection of a candidate(s) for the primary knowledge base -->
    <div class="col-md-12">
        <h3 ng-class="'boldPrimaryKB'">{{primaryKB + " (Primary knowledge base)" }}</h3>
    </div>
    <div class="col-md-12">
        <c-d-select-box knowledge-base="{{primaryKB}}"
                        selected-position="selectedPosition" ,
                        locked="locked" ,
                        data="data()">
        </c-d-select-box>
    </div>
</div>

<!--collapse label-->
<div class="row">
    <div class="col-md-12 odalic-cursor-pointer " ng-init="isCollapsedPKB = false" ng-click="isCollapsedPKB = !isCollapsedPKB">
        <i class=" fa fa-angle-down " ></i>
        <span>Search {{primaryKB}}</span>
    </div>
</div>

<!-- search for the primary knowledge base -->
<div uib-collapse="isCollapsedPKB">
    <c-d-suggestions selected-position="selectedPosition" ,
                     locked="locked" ,
                     knowledge-base="{{primaryKB}}" ,
                     result="result"/>
</div>

<!--Blank space-->
<div class="col-md-12 odalic-hstyle-medium"></div>
<!-- Proposal button -->
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <button class="form-control" ng-click="openCDProposal()">
            Propose
        </button>
    </div>
</div>

<!-- Separate div for each knowledge base -->
<div ng-repeat="(knowledgeBase, candidates) in data().candidates">
    <!--all non-primary knowledge bases-->
    <div ng-if="knowledgeBase != primaryKB">
        <!-- Selection of a candidate(s) for the non-primary knowledge base -->
        <div class="row">
            <div class="col-md-12">
                <h3>{{ knowledgeBase }}</h3>
            </div>
            <div class="col-md-12">
                <c-d-select-box knowledge-base="{{knowledgeBase}}"
                                selected-position="selectedPosition" ,
                                locked="locked" ,
                                data="data()">
                </c-d-select-box>
            </div>
        </div>

        <!--collapse label-->
        <div class="row">
            <div class="col-md-12 odalic-cursor-pointer " ng-init="isCollapsedKB = true" ng-click="isCollapsedKB = !isCollapsedKB">
                <i class=" fa fa-angle-down " ></i>
                <span>Search {{ knowledgeBase }}</span>
            </div>
        </div>

        <!-- search for the non-primary knowledge base -->
        <div uib-collapse="isCollapsedKB">
            <c-d-suggestions selected-position="selectedPosition" ,
                             locked="locked" ,
                             knowledge-base="{{knowledgeBase}}" ,
                             result="result"/>
        </div>
    </div>
</div>

