<div class="form-group">
    <!-- Selection of a candidate(s) for the primary knowledge base -->
    <div>
    <div class="col-md-12">
        <h3 ng-class="'boldPrimaryKB'">{{primaryKB + " (Primary KB)" }}</h3>
        <c-d-select-box knowledge-base="{{primaryKB}}"
                        selected-position="selectedPosition" ,
                        locked="locked" ,
                        data="data()">
        </c-d-select-box>

        <i ng-init="isCollapsedPKB = true" ng-click="isCollapsedPKB = !isCollapsedPKB" class="fa fa-angle-down "  > search</i>

        <div uib-collapse="isCollapsedPKB">
            <c-d-suggestions selected-position="selectedPosition" ,
                             locked="locked" ,
                             knowledge-base="{{primaryKB}}" ,
                             result="result"/>

        </div>

    </div>
</div>


    <!-- Blank space -->
    <div class="col-md-12 odalic-hstyle-small"></div>

    <!-- Proposal button -->
    <div class="col-md-3 col-md-offset-9">
        <button class="form-control" ng-click="openCDProposal()">
            Proposal
        </button>
    </div>

    <!-- Separate div for each knowledge base -->
    <div ng-repeat="(knowledgeBase, candidates) in data().candidates">
        <div ng-if="knowledgeBase != primaryKB">
            <div class="col-md-12">
                <h3>{{ knowledgeBase }}</h3>
                <c-d-select-box knowledge-base="{{knowledgeBase}}"
                                selected-position="selectedPosition" ,
                                locked="locked" ,
                                data="data()">
                </c-d-select-box>

                <i ng-init="isCollapsedKB = true" ng-click="isCollapsedKB = !isCollapsedKB" class="fa fa-angle-down "> search</i>

                <div uib-collapse="isCollapsedKB">
                    <c-d-suggestions selected-position="selectedPosition" ,
                                     locked="locked" ,
                                     knowledge-base="{{knowledgeBase}}" ,
                                     result="result"/>


                </div>
            </div>
        </div>
    </div>
</div>