<!-- Prepared messages for alert-group -->
<injector for="msgtxt.failure">An error occured while signing up.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="3" lmenu="default-lm.json" rmenu="default-rm.json" />

    <!-- Content -->
    <div class="container-fluid">
        <div ng-switch="status">
            <!-- Sign up -->
            <div ng-switch-default>
                <!-- Panel -->
                <div class="col-sm-4 col-md-offset-4">
                    <div class="panel panel-border">
                        <div class="panel-body odalic-bstyle-lightgrey odalic-gfont-moderate">
                            Sign up
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" name="signupForm" ng-init="setForm(this, 'signupForm')">
                                <!-- Username / e-mail -->
                                <div class="col-md-6 ">
                                    <strong>E-mail:</strong>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="email" name="username" ng-model="signup.username" required />
                                    <div ng-messages="signupForm.username.$error" ng-if='signupForm.username.$dirty' role="alert">
                                        <div ng-message="required"><error-msg>E-mail has to be filled.</error-msg></div>
                                        <div ng-message="email"><error-msg>E-mail not set correctly.</error-msg></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-md-offset-6 text-right odalic-gfont-small">
                                    *E-mail address serves as a username.
                                </div>

                                <!-- Empty space -->
                                <div class="col-md-12 odalic-hstyle-small"></div>

                                <!-- Password -->
                                <div class="col-md-6">
                                    <strong>Password:</strong>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="password" name="password" ng-model="signup.password" minlength="8" required />
                                    <div ng-messages="signupForm.password.$error" ng-if='signupForm.password.$dirty' role="alert">
                                        <div ng-message="required"><error-msg>Password must not be empty.</error-msg></div>
                                        <div ng-message="minlength"><error-msg>Password is too short.</error-msg></div>
                                    </div>
                                </div>

                                <!-- Empty space -->
                                <div class="col-md-12 odalic-hstyle-small"></div>

                                <!-- Password again -->
                                <div class="col-md-6">
                                    <strong>Retype password:</strong>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="password" name="password2" ng-model="signup.password2" compare-to="signup.password" />
                                    <div ng-messages="signupForm.password2.$error" ng-if='signupForm.password2.$dirty' role="alert">
                                        <div ng-message="compare"><error-msg>Passwords do not match.</error-msg></div>
                                    </div>
                                </div>

                                <!-- Empty space -->
                                <div class="col-md-12 odalic-hstyle-small"></div>

                                <div class="col-md-6 col-md-offset-6">
                                    <button-load action="signup.signup" disabled="signup.buttondis">Sign up</button-load>
                                </div>
                            </form>
                        </div>
                        <div class="panel-body odalic-gfont-small">
                            Already have an account?  <a href="#/login">Log in!</a>
                        </div>
                    </div>
                </div>

                <!-- Notifications -->
                <div class="col-md-12">
                    <alert-group bind="signup.alerts" disappearing="3" />
                </div>
            </div>

            <!-- E-mail sent -->
            <div ng-switch-when="emsent">
                <div class="col-md-6 col-md-offset-3">
                    <alert bind="emsent.alert" closable="false">
                        <span class="glyphicon glyphicon-envelope"/> <strong>E-mail sent.</strong> An e-mail with additional instructions has been sent to the address you have provided.
                    </alert>
                </div>
            </div>
        </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>