<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="kbs" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2>Knowledge base configuration</h2>

        <form class="form-horizontal" role="form" name="setPropertiesForm" ng-init="setForm(this, 'setPropertiesForm')">

            <!-- Name -->
            <div class="form-group">
                <label class="col-md-2 control-label">Name:</label>

                <div class="col-md-10">
                    <input class="form-control" type="text" name="spName" pattern="[-a-zA-Z0-9_.,\s]*" focused required />
                    <div ng-messages="setPropertiesForm.spName.$error" ng-if='setPropertiesForm.spName.$dirty' role="alert">
                        <div ng-message="required"><error-msg>Name must not be empty.</error-msg></div>
                        <div ng-message="pattern"><error-msg>Name may consist only of alphanumeric characters, spaces and - _ . ,</error-msg></div>
                    </div>
                </div>
            </div>

            <!-- "label" predicates -->
            <div class="form-group">
                <label class="col-md-2 control-label">"label" predicates:</label>

                <div class="col-md-10">
                    <select class="form-control" multiple size="3" required>
                        <option>http://dbpedia.org/property/name</option>
                        <option>http://dbpedia.org/property/fullname</option>
                        <option>http://dbpedia.org/ontology/originalTitle</option>
                    </select>
                </div>
            </div>

            <!-- "description" predicates -->
            <div class="form-group">
                <label class="col-md-2 control-label">"description" predicates:</label>

                <div class="col-md-10">
                    <select class="form-control" multiple size="3" required>
                        <option>http://dbpedia.org/ontology/abstract</option>
                    </select>
                </div>
            </div>

            <!-- "instance of" predicates -->
            <div class="form-group">
                <label class="col-md-2 control-label">"instance of" predicates:</label>

                <div class="col-md-10">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/1999/02/22-rdf-syntax-ns#type</option>
                    </select>
                </div>
            </div>

            <!-- Type of classes -->
            <div class="form-group">
                <label class="col-md-2 control-label">Type of classes:</label>

                <div class="col-md-10">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/2000/01/rdf-schema#Class</option>
                        <option>http://www.w3.org/2002/07/owl#Class</option>
                    </select>
                </div>
            </div>

            <!-- Type of properties -->
            <div class="form-group">
                <label class="col-md-2 control-label">Type of properties:</label>

                <div class="col-md-10">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/1999/02/22-rdf-syntax-ns#Property</option>
                        <option>http://www.w3.org/2002/07/owl#DatatypeProperty</option>
                        <option>http://www.w3.org/2002/07/owl#ObjectProperty</option>
                    </select>
                </div>
            </div>

        </form>

        <!-- Submit, when editing an existing task -->
        <div class="col-md-offset-7 col-md-5">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-6">
                    <button type="button" class="col-md-12 btn btn-lg">Save</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="col-md-12 btn btn-lg">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>
