<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="none" lmenu="default-lm.json" rmenu="default-rm.json" />

    <!-- Content -->
    <div class="container-fluid">
        <h2>Angular testing template</h2>
        <p>
            <button type="button" class="btn btn-lg" ng-click="myauth()">Google</button>
            <button type="button" class="btn btn-lg" ng-click="testauth()">Am I authorized?</button>
            <button type="button" class="btn btn-lg" ng-click="testconn()">Send packet</button>
            <button type="button" class="btn btn-lg" ng-click="basicauth()">Basic</button>
            <button type="button" class="btn btn-lg" ng-click="logout()">Logout</button>
        </p>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>