<div class="modal fade" role="dialog">
    <div class="modal-dialog lg">
        <div class="modal-content">

            <!-- Headline -->
            <div class="modal-header">
                <h2 class="col-md-11">File settings</h2>
                <h2 class="col-md-1">
                    <modal-closing closing-function="close"/>
                </h2>
            </div>

            <!-- Body -->
            <div class="modal-body container-fluid">
                <loadico bind="dataload" size="3" center="true" showtxt="true">
                    <!-- Encoding -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Encoding:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" ng-model="settings.encoding.selection"
                                        ng-options="option for option in settings.encoding.options"></select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="settings.encoding.value"
                                       ng-disabled="settings.encoding.selection != 'custom'"/>
                            </div>
                        </div>
                    </div>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <!-- Delimiter -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label"><abbrc msg="The delimiter symbol which are the values separated by.">Delimiter:</abbrc></label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" ng-model="settings.delimiter.selection"
                                        ng-options="option for option in settings.delimiter.options"></select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="settings.delimiter.value"
                                       ng-disabled="settings.delimiter.selection != 'custom'"/>
                            </div>
                        </div>
                    </div>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <!-- Escape character -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label"><abbrc msg="Serves for escaping reserved characters.">Escape character:</abbrc></label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" ng-model="settings.escape.selection"
                                        ng-options="option for option in settings.escape.options">
                                    <option value="">none</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="settings.escape.value"
                                       ng-disabled="settings.escape.selection != 'custom'"/>
                            </div>
                        </div>
                    </div>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <!-- Comment marker -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label"><abbrc msg="Lines beginning with the comment marker characters are ignored.">Comment marker:</abbrc></label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" ng-model="settings.comment.selection"
                                        ng-options="option for option in settings.comment.options">
                                    <option value="">none</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="settings.comment.value"
                                       ng-disabled="settings.comment.selection != 'custom'"/>
                            </div>
                        </div>
                    </div>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <!-- Quote character -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label"><abbrc msg="Fields enclosed in the quote characters may contain reserved characters.">Quote character:</abbrc></label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <select class="form-control" ng-model="settings.quote.selection"
                                        ng-options="option for option in settings.quote.options">
                                    <option value="">none</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="settings.quote.value"
                                       ng-disabled="settings.quote.selection != 'custom'"/>
                            </div>
                        </div>
                    </div>

                    <!-- Blank space -->
                    <div class="col-md-12 odalic-hstyle-small"></div>

                    <!-- Empty lines ignore -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="settings.emptylinesignore"/> Ignore empty lines
                            </label>
                        </div>
                    </div>
                </loadico>

                <!-- Blank space -->
                <div class="col-md-12 odalic-hstyle-small"></div>

                <!-- Messages to a user in case of a situation -->
                <injector for="msgtxt.loadFailure">An error occurred while loading the file configuration.</injector>
                <injector for="msgtxt.saveFailure">An error occurred while saving the file configuration.</injector>

                <div class="col-md-12">
                    <alert-group bind="messages" disappearing="default"/>
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-4">
                        <button-load button-class="form-control" action="save" disabled="!dataload.show">Save and close</button-load>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <button type="button" class="form-control" ng-click="dismiss()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
