<!--
    The template serves as a demonstration of some of the styles.
-->


<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="0" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <!-- Temporary style for demonstrations -->
    <style>
        .temp-div {
            height: 50px;
            text-align: center;
            padding-top: 12px;
        }

        .temp-red {
            color: white;
            background-color: red;
        }

        .temp-blue {
            color: white;
            background-color: blue;
        }
    </style>

    <!--
        Bootstrap grid
        - automatic responsive design
        - the sum of "columns" must be 12 all the time
     -->

    <!-- Bootstrap grid 1 -->
    <div class="col-sm-3">
        <div class="temp-div temp-red">Sidebar</div>
    </div>
    <div class="col-sm-9">
        <div class="temp-div temp-blue">Main</div>
    </div>

    <!-- Bootstrap grid 2 -->
    <div class="col-sm-2">
        <div class="temp-div temp-red">#1</div>
    </div>
    <div class="col-sm-3">
        <div class="temp-div temp-blue">#2</div>
    </div>
    <div class="col-sm-1">
        <div class="temp-div temp-red">#3</div>
    </div>
    <div class="col-sm-1">
        <div class="temp-div temp-blue">#4</div>
    </div>
    <div class="col-sm-5">
        <div class="temp-div temp-red">#5</div>
    </div>

    <!-- 
        Bottom indentation 
        - defined in less/visual.less
     -->
    <div class="col-sm-12">
        <div class="odalic-hstyle-big"></div>
    </div>

    <!-- 
        Panel
        - (in less/rebootstrap.less)
        - overrides the default bootstrap style
     -->

    <!-- Panel 1 -->
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                Panel body 1
            </div>
            <div class="panel-body">
                Panel body 2
            </div>
        </div>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!-- Panel 2 -->
    <div class="col-sm-12">
        <div class="panel panel-border">
            <div class="panel-body">
                Panel body 1
            </div>
            <div class="panel-body">
                Panel body 2
            </div>
            <div class="panel-body">
                <button class="odalic-button-panel">Button</button>
            </div>
        </div>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!-- 
        Visual schemes (Box color styles, Font styles)
        - defined in less/vschemes.less
        - quite universal, can be used almost anywhere
     -->

    <!-- Visual schemes 1 -->
    <div class="col-sm-12">
        <div class="panel panel-border odalic-bstyle-iorange odalic-gfont-small">
            <div class="panel-body odalic-bstyle-orange">
                Panel body 1
            </div>
            <div class="panel-body">
                Panel body 2
            </div>
            <div class="panel-body odalic-bstyle-blue">
                Panel body 3
            </div>
            <div class="panel-body odalic-bstyle-almostwhite">
                Panel body 4
            </div>
        </div>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!-- Visual schemes 2 -->
    <div class="col-sm-12">
        <div class="panel odalic-gfont-small">
            <div class="panel-body panel-border odalic-bstyle-iorange">
                Panel body 1
            </div>
            <div class="panel-body">
                Panel body 2
            </div>
        </div>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!-- Buttons (exhaustive list) -->
    <div class="col-sm-12">
        <button class="style1"><span>Button</span></button>
        <button class="style1">Button</button>
        <button class="style2"><span>Button</span></button>
        <button class="style3"><span>Button</span></button>
        <button class="style4"><span>Button</span></button>
        <button class="style5"><span>Button</span></button>
        <button class="style6">Button</button>
        <button class="style7">Button</button>
        <button class="style8"><span>Button</span></button>
        <div class="odalic-hstyle-semibig"></div>
    </div>

    <!-- Textfields (exhaustive list) -->
    <div class="col-sm-12">
        <p><input type="text" class="style1"/></p>
        <p><input type="text" class="style2"/></p>
        <p><input type="text" class="style3"/></p>
        <p><input type="text" class="style4"/></p>
        <p><input type="text" class="style5"/></p>
        <p><input type="text" class="style6"/></p>
        <p><input type="text" class="style7"/></p>
        <p><input type="text" class="style8"/></p>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!--
        Bootstrap form inputs
        - additionally supports ListBox and Textarea
     -->
    <div class="col-sm-12">
        <p>
            <input type="text" class="form-control" id="usr">
        </p>
        <p>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </p>
        <p>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </p>
        <p>
            <button type="submit" class="btn btn-default">Submit</button>
        </p>
        <div class="odalic-hstyle-small"></div>
    </div>

    <!-- FontAwesome icons -->
    <div class="col-sm-12">
        <p><i class="fa fa-bars" aria-hidden="true"></i> Text</p>
        <p><i class="fa fa-cloud-upload" aria-hidden="true"></i> Text</p>
    </div>
</main-cnt>

<!-- Footer -->
<footer>
	Footer here carries no valuable text.
</footer>