<!--<div class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog lg">-->
        <!--<div class="modal-content">-->
<div class="odalic-content-wide">
    <!-- Headline -->
    <div class="modal-header">
        <div class="row" id="modal-title">
            <h2>
                <span class="col-md-11">
                    Relations
                </span>
                <span class="col-md-1">
                    <modal-closing closing-function="close"/>
                </span>
            </h2>
        </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
        <div class="container-fluid">
            {{ text }}
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
        <div class="col-md-offset-8 col-md-4 form-group">
            <button type="button" class="form-control" ng-click="close()">Dismiss</button>
        </div>
    </div>
</div>