<div class="odalic-content-wide">
    <!-- Headline -->
    <div class="modal-header">
        <div class="row" id="modal-title">
            <h2>
                <span class="col-md-11">
                    Relations
                </span>
                <span class="col-md-1">
                    <modal-closing closing-function="close"/>
                </span>
            </h2>
        </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
        <div class="container-fluid">
            <!-- Name -->
            <div class="form-group">
                <label class="col-md-3 control-label">Name:</label>

                <div class="col-md-9">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="col-md-12 odalic-hstyle-small"></div>

            <!-- "label" predicates -->
            <div class="form-group">
                <label class="col-md-3 control-label">"label" predicates:</label>

                <div class="col-md-9">
                    <select class="form-control" multiple size="3" required>
                        <option>http://dbpedia.org/property/name</option>
                        <option>http://dbpedia.org/property/fullname</option>
                        <option>http://dbpedia.org/ontology/originalTitle</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 odalic-hstyle-small"></div>

            <!-- "description" predicates -->
            <div class="form-group">
                <label class="col-md-3 control-label">"description" predicates:</label>

                <div class="col-md-9">
                    <select class="form-control" multiple size="3" required>
                        <option>http://dbpedia.org/ontology/abstract</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 odalic-hstyle-small"></div>

            <!-- "instance of" predicates -->
            <div class="form-group">
                <label class="col-md-3 control-label">"instance of" predicates:</label>

                <div class="col-md-9">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/1999/02/22-rdf-syntax-ns#type</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 odalic-hstyle-small"></div>

            <!-- Type of classes -->
            <div class="form-group">
                <label class="col-md-3 control-label">Type of classes:</label>

                <div class="col-md-9">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/2000/01/rdf-schema#Class</option>
                        <option>http://www.w3.org/2002/07/owl#Class</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 odalic-hstyle-small"></div>

            <!-- Type of properties -->
            <div class="form-group">
                <label class="col-md-3 control-label">Type of properties:</label>

                <div class="col-md-9">
                    <select class="form-control" multiple size="3" required>
                        <option>http://www.w3.org/1999/02/22-rdf-syntax-ns#Property</option>
                        <option>http://www.w3.org/2002/07/owl#DatatypeProperty</option>
                        <option>http://www.w3.org/2002/07/owl#ObjectProperty</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-4">
                <button type="button" class="form-control">Save</button>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <button type="button" class="form-control" ng-click="close()">Dismiss</button>
            </div>
        </div>
    </div>
</div>