<div class="container">
    <div class="col-md-12">
        <h3>Processing error</h3>
        <h4>It seems the server could not process your task. See the details below:</h4>
    </div>

    <!-- Details -->
    <div class="col-md-3">
        <strong>Cause:</strong>
    </div>
    <div class="col-md-9">
        {{ failurev.result }}
    </div>

    <div class="col-md-3">
        <strong>Our guess:</strong>
    </div>
    <div class="col-md-9">
        {{ failurev.message }}
    </div>

    <div class="col-md-3">
        <strong>Debug content:</strong>
    </div>
    <div class="col-md-9">
        <shortened text="failurev.description"/>
    </div>

    <!-- Blank space -->
    <div class="col-md-12 odalic-hstyle-medium"/>

    <div class="col-md-12">
        <p>Do you think it is a bug? <a href="mailto:odalic@googlegroups.com">Please report it!</a></p>
    </div>
</div>

<!-- Back button -->
<div class="col-md-offset-8 col-md-2">
    <button type="button" class="btn btn-lg btn-block" ng-click="miscellaneous.reexecute()">Reexecute</button>
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-lg btn-block" ng-click="miscellaneous.goBack()">Cancel</button>
</div>

<!-- Blank space pushing footer further below -->
<div class="col-md-12 odalic-hstyle-medium"/>
