<!-- Prepared messages to display to user in case of a situation -->
<injector for="msgtxt.saveFailure">An error occured while saving the task.</injector>
<injector for="msgtxt.createFailure">An error occured while creating the task.</injector>
<injector for="msgtxt.startFailure">An error occured while starting the task. The task has been successfully created, though.</injector>
<injector for="msgtxt.loadFailure">Fatal error occured while loading the task configuration.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="1" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2 ng-show="templFormat.creating">Adding a file</h2>
        <h2 ng-show="!templFormat.creating">File settings</h2>

        <!-- The main form -->
        <form class="form-horizontal" role="form" name="taskCreationForm" ng-init="setForm(this, 'taskCreationForm')">
            <!-- Basic settings -->
            <fieldset>
                <legend>Basic settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">File name:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="taskIdentifier" ng-model="taskCreation.identifier"
                               ng-disabled="!templFormat.creating" required>
                        <div ng-messages="taskCreationForm.taskIdentifier.$error" ng-if='taskCreationForm.taskIdentifier.$dirty' role="alert">
                            <div ng-message="required"><error-msg>File name must not be empty.</error-msg></div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- File settings -->
            <fieldset>
                <legend>File settings</legend>
                <!-- File settings -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Choose encoding:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="encoding"
                                ng-options="x for x in encodingPossibilities"></select>
                    </div>
                </div>

                <!-- Line endings -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Line ending:</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" ng-model="lineEnding" value="unix">
                            Unix <i>(LF)</i>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" ng-model="lineEnding"value="windows">
                            Windows <i>(CRLF)</i>
                        </label>
                    </div>
                </div>

                <!-- Fields wrapped in ""? -->
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <label class="checkbox-inline">
                            <input type="checkbox"
                                   ng-model="isWrapp" value="">text fields wrapped in ""
                        </label>
                    </div>
                </div>
            </fieldset>

            <!--  Alerts displaying notifications for a user regarding the whole form -->
            <alert-group bind="wholeForm.alerts" />
        </form>

        <!-- Submit -->
        <div class="col-md-offset-10 col-md-2">
            <!-- When creating a new task -->
            <div ng-if="templFormat.creating">
                <div class="col-md-8">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.createAndRun()">Create and run</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.createTask()">Create</button>
                </div>
            </div>

            <!-- When editing an existing task -->
            <div ng-if="!templFormat.creating">
                <div class="col-md-offset-8 col-md-4">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.saveTask()">Save</button>
                </div>
            </div>
        </div>

        <file-settings bind="myfs"/>
        <button type="button" class="btn btn-lg" ng-click="openTest()">Open test</button>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>