<div ng-if="(selectedPosition.row == -1)">

    <div class="row">
        <h2 class="col-md-10">Column classification</h2>
        <h2 class="col-md-2">
            <c-d-lock locked="locked.tableCells"
                      row="{{selectedPosition.row}}"
                      column="{{selectedPosition.column}}"/>

            <modal-closing modal-window="modalWindow"/>
        </h2>
    </div>

</div>
<div ng-if="(selectedPosition.row != -1)">

    <div class="row">
        <h2 class="col-md-10">Cell disambiguation</h2>
        <h2 class="col-md-2">
            <c-d-lock locked="locked.tableCells"
                      row="{{selectedPosition.row}}"
                      column="{{selectedPosition.column}}"/>

            <modal-closing modal-window="modalWindow"/>
        </h2>
    </div>

</div>
