<div>
    <nav class="navbar odalic-navbar">
        <div class="container-fluid">

            <!-- Menu icon for small devices -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#odalic-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Menu definition -->
            <div class="collapse navbar-collapse" id="odalic-navbar">

                <!-- Left menu -->
                <ul class="nav navbar-nav">
                    <!-- Main menu -->
                    <li ng-repeat="singleMenu in leftMenu" ng-class="{ active: selected == singleMenu.id }">

                        <!-- With submenu -->
                        <a ng-show="singleMenu.menu.length > 0" class="dropdown-toggle odalic-cursor-pointer" data-toggle="dropdown">
                            {{ singleMenu.title }} <span class="caret"></span>
                        </a>
                        <ul ng-show="singleMenu.menu.length > 0" class="dropdown-menu" role="menu">
                            <li ng-repeat="singleSubmenu in singleMenu.menu"
                                ng-class="{ divider: !singleSubmenu.hasOwnProperty('title') }">
                                <a href="{{ singleSubmenu.link }}" ng-show="singleSubmenu.hasOwnProperty('title')">
                                    {{ singleSubmenu.title }}
                                </a>
                            </li>
                        </ul>

                        <!-- Without submenu -->
                        <a ng-show="singleMenu.menu.length == 0" href="{{ singleMenu.link }}">
                            {{ singleMenu.title }}
                        </a>

                    </li>
                </ul>

                <!-- Right menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="singleMenu in rightMenu" ng-class="{ active: selected == singleMenu.id }" ng-if="conditioned(singleMenu)">
                        <a href="{{ singleMenu.link }}"><span class="glyphicon {{ singleMenu.icon }}"></span>
                            {{ singleMenu.title }}
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
</div>