<!-- Headline -->
<div class="modal-header">
    <div class="row" id="modal-title">
        <h2 class="col-md-11">Relations</h2>
        <h2 class="col-md-1">
            <r-lock
                    click="gvdata.update"
                    locked="locked.graphEdges"
                    column1="{{ selectedRelation.column1 }}"
                    column2="{{ selectedRelation.column2 }}"/>
        </h2>
    </div>
</div>

<div class="container-fluid" id="modal-body">

    <div class="row">
        <!-- Selection of a candidate(s) for the primary knowledge base -->
        <div class="col-md-12">
            <h3 ng-class="'boldPrimaryKB'">{{ primaryKB + " (Primary knowledge base)"}}</h3>
        </div>
    </div>

    <div class="row">
        <!-- Primary Knowledge Base -->
        <div class="col-md-12">
            <r-select-box locked="locked"
                          result="result"
                          gvdata="gvdata"
                          selected-relation="selectedRelation"
                          knowledge-base="{{primaryKB}}"/>
        </div>
    </div>


    <!--collapse label-->
    <div class="row">
        <div class="col-md-12 odalic-cursor-pointer " ng-init="isCollapsedPKB = false" ng-click="isCollapsedPKB = !isCollapsedPKB">
            <i class="fa fa-angle-down " ></i>
            <span>Search {{primaryKB}}</span>
        </div>
    </div>
    <!-- search for the primary knowledge base -->
    <div uib-collapse="isCollapsedPKB">
        <r-suggestions selected-relation="selectedRelation" ,
                       locked="locked" ,
                       knowledge-base="{{primaryKB}}" ,
                       result="result"
                       gvdata="gvdata"/>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <button class="form-control" ng-click="openRProposal()">
                Propose
            </button>
        </div>
    </div>

    <!-- Separate div for each knowledge base -->
    <div ng-repeat="(knowledgeBase, candidates) in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates">
        <div ng-if="knowledgeBase != primaryKB">

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ knowledgeBase }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Selection of a candidate(s) for the current knowledge base -->
                    <r-select-box locked="locked"
                                  result="result"
                                  gvdata="gvdata"
                                  selected-relation="selectedRelation"
                                  knowledge-base="{{knowledgeBase}}"/>
                </div>
            </div>
            <!--collapse label-->
            <div class="row">
                <div class="col-md-12 odalic-cursor-pointer " ng-init="isCollapsedKB = true" ng-click="isCollapsedKB = !isCollapsedKB">
                    <i class=" fa fa-angle-down " ></i>
                    <span>Search {{ knowledgeBase }}</span>
                </div>
            </div>
            <!-- search for the primary knowledge base -->
            <div uib-collapse="isCollapsedKB">
                <r-suggestions selected-relation="selectedRelation" ,
                               locked="locked" ,
                               knowledge-base="{{knowledgeBase}}" ,
                               result="result"
                               gvdata="gvdata"/>
            </div>
        </div>
    </div>

    <!-- 'Hack-fix': form-group overflows modal if there are no elements below -->
</div>
