<div id="modalPredicates" class="modal fade" role="dialog">
    <div class="modal-dialog lg">
        <div class="modal-content">
            <!-- Headline -->
            <div class="modal-head">
                <div class="row">
                    <h2 class="col-md-11">Relations</h2>
                    <h2 class="col-md-1">
                        <lock locked="locked.graphEdges"
                              first-parametr="{{ selectedRelation.column1 }}"
                              second-parametr="{{ selectedRelation.column2 }}"/>
                    </h2>
                </div>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <div class="container-fluid">

                    <!-- Primary Knowledge Base -->
                    <div class="form-group">
                        <h3 ng-class="'boldPrimaryKB'">{{ primaryKB + " (Primary KB)"}}</h3>

                        <!-- Selection of a candidate(s) for the current knowledge base -->
                        <ui-select
                                ng-model="result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].chosen[primaryKB]"
                                multiple limit="1" theme="bootstrap"
                                search-enabled="true"
                                on-select="switchRelation($item.entity, primaryKB)"
                                ng-change="gvdata.mc(); lockRelation()">
                            <ui-select-match placeholder="">
                                {{$item.entity.resource}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="opt.entity as opt in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates[primaryKB]  | propsFilter : {'entity.resource': $select.search}">
                                <div title={{opt.entity.resource}}
                                     ng-bind-html="opt.entity.resource| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <!-- Separate div for each knowledge base -->
                    <div ng-repeat="(knowledgeBase, candidates) in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates">
                        <div ng-if="knowledgeBase != primaryKB">
                            <div class="form-group">
                                <h3>{{ knowledgeBase }}</h3>
                                <!-- Selection of a candidate(s) for the current knowledge base -->

                                <ui-select
                                        ng-model="result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].chosen[knowledgeBase]"
                                        multiple limit="1" theme="bootstrap"
                                        search-enabled="true"
                                        on-select="switchRelation($item.entity, knowledgeBase)"
                                        ng-change="gvdata.mc(); lockRelation()">
                                    <ui-select-match placeholder="">
                                        {{$item.entity.resource}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="opt.entity as opt in result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].candidates[ knowledgeBase]  | propsFilter : {'entity.resource': $select.search}">
                                        <div title={{opt.entity.resource}}
                                             ng-bind-html="opt.entity.resource| highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <r-suggestions selected-position="selectedPosition" ,
                                     locked="locked" ,
                                     primary-k-b="{{primaryKB}}" ,
                                     result="result">
                    </r-suggestions>
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-12 control-label">Search: </label>-->
                        <!--<div class="col-md-10">-->
                            <!--<input type="text" class="form-control" ng-model="string"/>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;TODO spojit to do jednoho elementu&ndash;&gt;-->
                        <!---->
                        <!--<div class="col-md-2 text-center">-->
                            <!--<button ng-hide="waitForSuggestions" type="button" class="form-control"-->
                                    <!--ng-click="getSuggestions(string,'10')">-->
                                <!--Find-->
                            <!--</button>-->
                            <!--<i ng-hide="!waitForSuggestions"-->
                               <!--class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-10">-->
                            <!--<select class="form-control" style="width: 100%"-->
                                    <!--ng-model="suggestion"-->
                                    <!--ng-options="suggest.resource + ' ' + suggest.label  for suggest in suggestions">-->
                            <!--</select>-->
                        <!--</div>-->

                        <!--<div class="col-md-2 text-center">-->
                            <!--<button type="button" class="form-control"-->
                                    <!--ng-click="addRelationSuggestions(suggestion)">-->
                                <!--Add-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- Own relation -->
                    <div class="form-group">
                        <label class="control-label">Own relation:</label>
                        <input type="text" class="form-control"
                               ng-model="result.columnRelationAnnotations[selectedRelation.column1][selectedRelation.column2].chosen.other[0].entity.resource"
                               ng-change="gvdata.mc(); lockRelation()"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>