<!-- Prepared messages to display to user in case of a situation -->
<injector for="msgtxt.saveFailure">An error occurred while saving the task.</injector>
<injector for="msgtxt.createFailure">An error occurred while creating the task.</injector>
<injector for="msgtxt.startFailure">An error occurred while starting the task. The task has been successfully created, though.</injector>
<injector for="msgtxt.loadFailure">Fatal error occurred while loading the task configuration.</injector>
<injector for="msgtxt.kbLoadFailure">Fatal error occurred while loading list of available knowledge bases.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="tasks" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2 ng-show="templFormat.creating">Creation of new task</h2>
        <h2 ng-show="!templFormat.creating">Modification of a task configuration</h2>

        <!-- The main form -->
        <form class="form-horizontal" role="form" name="taskCreationForm" ng-init="setForm(this, 'taskCreationForm')">
            <!-- Basic settings -->
            <fieldset>
                <legend>Basic settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Task name:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="taskIdentifier" ng-model="taskCreation.identifier"
                               ng-disabled="!templFormat.creating" pattern="[a-zA-Z0-9_.]*" required>
                        <div ng-messages="taskCreationForm.taskIdentifier.$error" ng-if='taskCreationForm.taskIdentifier.$dirty' role="alert">
                            <div ng-message="required"><error-msg>Task name must not be empty.</error-msg></div>
                            <div ng-message="pattern"><error-msg>Task name must consist only of alphanumeric characters and '_', '.'.</error-msg></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Description:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-model="taskCreation.description">
                    </div>
                </div>
            </fieldset>

            <!-- Input file -->
            <fieldset>
                <legend>Input file</legend>
                <fileinput bind="fileinput" form="taskCreationForm" />
            </fieldset>

            <!-- Knowledge base settings -->
            <fieldset>
                <legend>Knowledge base</legend>

                <!-- Used knowledge bases -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Knowledge bases:</label>
                    <div class="col-md-10">
                        <select class="form-control" name="selectKBs" ng-model="kbs.chosenKBs" ng-options="opt.name for opt in kbs.availableKBs" size="{{ kbs.availableKBs.length }}" ng-change="kbs.selectionChanged()" multiple required>
                        </select>
                        <div ng-if="taskCreationForm.selectKBs.$invalid && taskCreationForm.selectKBs.$dirty">
                            <error-msg>At least 1 knowledge base has to be selected.</error-msg>
                        </div>
                    </div>
                </div>

                <!-- Primary knowledge base -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Primary knowledge base:</label>
                    <div class="col-md-10">
                        <select class="form-control" name="selectPrimaryKB" ng-model="kbs.primaryKB" ng-options="opt.name for opt in kbs.modifiableSelectedKBs" required>
                            <option value="">Select Knowledge Base</option>
                        </select>
                        <div ng-if="taskCreationForm.selectPrimaryKB.$invalid && taskCreationForm.selectPrimaryKB.$dirty">
                            <error-msg>A knowledge base has to be selected.</error-msg>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Processing -->
            <fieldset>
                <legend>Processing</legend>

                <!-- Lines limit -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Lines processed:</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="all" ng-init="linesLimit.selection = 'all'" />
                            All
                        </label>

                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="some" />
                            At most <input type="number" ng-model="linesLimit.value" ng-init="linesLimit.value = 1" min="1" max="2147483647" ng-disabled="linesLimit.selection != 'some'" />
                        </label>
                    </div>
                </div>

                <!-- Statistical data -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Statistical data:</label>
                    <div class="col-md-10 checkbox">
                        <label>
                            <input type="checkbox" ng-model="statistical.value" ng-init="statistical.value = false" />
                        </label>
                    </div>
                </div>
            </fieldset>

            <!--  Alerts displaying notifications for a user regarding the whole form -->
            <alert-group bind="wholeForm.alerts" disappearing="3"/>
        </form>

        <!-- Submit -->
        <div class="col-md-offset-10 col-md-2">
            <!-- When creating a new task -->
            <div ng-if="templFormat.creating">
                <div class="col-md-8">
                    <button-load button-class="btn btn-lg" action="templFormat.createAndRun" disabled="false">Create and run</button-load>
                </div>
                <div class="col-md-4">
                    <button-load button-class="btn btn-lg" action="templFormat.createTask" disabled="false">Create</button-load>
                </div>
            </div>

            <!-- When editing an existing task -->
            <div ng-if="!templFormat.creating">
                <div class="col-md-offset-8 col-md-4">
                    <button-load button-class="btn btn-lg" action="templFormat.saveTask" disabled="false">Save</button-load>
                </div>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>