<!-- Prepared messages to display to user in case of a situation -->
<injector for="msgtxt.saveFailure">An error occured while saving the task.</injector>
<injector for="msgtxt.createFailure">An error occured while creating the task.</injector>
<injector for="msgtxt.startFailure">An error occured while starting the task. The task has been successfully created, though.</injector>
<injector for="msgtxt.loadFailure">Fatal error occured while loading the task configuration.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="2" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2 ng-show="templFormat.creating">Creation of new task</h2>
        <h2 ng-show="!templFormat.creating">Modification of a task configuration</h2>

        <!-- The main form -->
        <form class="form-horizontal" role="form" name="taskCreationForm" ng-init="setForm(this, 'taskCreationForm')">
            <!-- Basic settings -->
            <fieldset>
                <legend>Basic settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Task name:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="taskIdentifier" ng-model="taskCreation.identifier"
                               ng-disabled="!templFormat.creating" required>
                        <div ng-messages="taskCreationForm.taskIdentifier.$error" ng-if='taskCreationForm.taskIdentifier.$dirty' role="alert">
                            <div ng-message="required"><error-msg>Task name must not be empty.</error-msg></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Description:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-model="taskCreation.description">
                    </div>
                </div>
            </fieldset>

            <!-- Input file -->
            <fieldset>
                <legend>Input file</legend>
                <fileinput bind="fileinput" form="taskCreationForm" />
            </fieldset>

            <!-- Knowledge base settings -->
            <fieldset>
                <legend>Knowledge base</legend>
                <!-- setting of knowledge bases -->
                <!-- TODO mozna jinak -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Knowledge bases:</label>
                    <div class="col-md-10">
                        <select size="{{ kbs.availableKBs.length }}"
                                class="form-control"
                                ng-model="kbs.chosenKBs"
                                multiple
                                ng-options="opt.name for opt in kbs.availableKBs"
                                ng-change="automaticSelectPrimaryKB()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- setting of primary knowledge base -->
                    <label class="col-md-2 control-label">Primary knowledge base:</label>
                    <div class="col-md-10">
                        <select class="form-control"
                                ng-model="kbs.primaryKB"
                                ng-options="opt.name for opt in kbs.chosenKBs"></select>

                    </div>
                </div>
            </fieldset>

            <!-- Processing -->
            <fieldset>
                <legend>Processing</legend>
                <!-- Lines limit -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Lines processed:</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="all" ng-init="linesLimit.selection = 'all'" />
                            All
                        </label>

                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="some" />
                            At most <input type="number" ng-model="linesLimit.value" ng-init="linesLimit.value = 1" min="1" max="2147483647" ng-disabled="linesLimit.selection != 'some'" />
                        </label>
                    </div>
                </div>
            </fieldset>

            <!--  Alerts displaying notifications for a user regarding the whole form -->
            <alert-group bind="wholeForm.alerts" disappearing="3"/>
        </form>

        <!-- Submit -->
        <div class="col-md-offset-10 col-md-2">
            <!-- When creating a new task -->
            <div ng-if="templFormat.creating">
                <div class="col-md-8">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.createAndRun()">Create and run</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.createTask()">Create</button>
                </div>
            </div>

            <!-- When editing an existing task -->
            <div ng-if="!templFormat.creating">
                <div class="col-md-offset-8 col-md-4">
                    <button type="button" class="btn btn-lg" ng-click="templFormat.saveTask()">Save</button>
                </div>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>