<!-- Prepared messages to display to user in case of a situation -->
<injector for="msgtxt.saveFailure">An error occurred while saving the task.</injector>
<injector for="msgtxt.createFailure">An error occurred while creating the task.</injector>
<injector for="msgtxt.startFailure">An error occurred while starting the task. The task has been successfully created, though.</injector>
<injector for="msgtxt.loadFailure">Fatal error occurred while loading the task configuration.</injector>
<injector for="msgtxt.kbLoadFailure">Fatal error occurred while loading list of available knowledge bases.</injector>

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="tasks" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2 ng-show="templFormat.creating">Add new task</h2>
        <h2 ng-show="!templFormat.creating">Modify task</h2>

        <!-- The main form -->
        <form class="form-horizontal" role="form" name="taskCreationForm" ng-init="setForm(this, 'taskCreationForm')">
            <!-- Basic settings -->
            <fieldset>
                <legend>Basic properties</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label"><abbrc msg="A URL friendly identifier of the task.
Choose one unique to the tasks you created.">Task identifier:</abbrc></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="taskIdentifier" ng-model="taskCreation.identifier"
                               ng-disabled="!templFormat.creating" pattern="[-a-zA-Z0-9_.,\s]*" focused required>
                        <div ng-messages="taskCreationForm.taskIdentifier.$error" ng-if='taskCreationForm.taskIdentifier.$dirty' role="alert">
                            <div ng-message="required"><error-msg>Task name must not be empty.</error-msg></div>
                            <div ng-message="pattern"><error-msg>Task name may consist only of alphanumeric characters, spaces and - _ . ,</error-msg></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"><abbrc msg="A free-form description of the task.">Description:</abbrc></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-model="taskCreation.description">
                    </div>
                </div>
            </fieldset>

            <!-- Input file -->
            <fieldset>
                <legend>Input file</legend>

                <div class="form-group">
                    <fileinput bind="fileinput" form="taskCreationForm" selection="true" />
                </div>
            </fieldset>

            <!-- Knowledge base settings -->
            <fieldset>
                <legend>Used knowledge bases</legend>

                <!-- Used knowledge bases -->
                <div class="form-group">
                    <label class="col-md-2 control-label"><abbrc msg="Knowledge bases which the input will be annotated against.">Knowledge bases:</abbrc></label>
                    <div class="col-md-10">
                        <ui-select name="selectKBs" ng-model="kbs.chosenKBs" ng-change="kbs.selectionChanged()" multiple required>
                            <ui-select-match placeholder="Select a knowledge base by typing its identifier...">
                                {{ $item.name }}
                            </ui-select-match>
                            <ui-select-choices repeat="kb in kbs.availableKBs | uissearch: {name: $select.search, endpoint: $select.search}"}">
                                <div ng-bind-html="kb.name | highlight: $select.search"/>
                                <small>
                                    Endpoint: <span ng-bind-html="kb.endpoint | highlight: $select.search" /> {{ kb.description ? '| Description: ' : '' }} {{ kb.description | shortstr: 20 }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-if="taskCreationForm.selectKBs.$invalid && taskCreationForm.selectKBs.$dirty">
                            <error-msg>At least 1 knowledge base has to be selected.</error-msg>
                        </div>
                    </div>
                </div>

                <!-- Primary knowledge base -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Primary knowledge base:</label>
                    <div class="col-md-10">
                        <select class="form-control" name="selectPrimaryKB" ng-model="kbs.primaryKB" ng-options="opt.name for opt in kbs.modifiableSelectedKBs" required>
                            <option value="">Select knowledge Base</option>
                        </select>
                        <div ng-if="taskCreationForm.selectPrimaryKB.$invalid && taskCreationForm.selectPrimaryKB.$dirty">
                            <error-msg>A knowledge base has to be selected.</error-msg>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Processing -->
            <fieldset>
                <legend>Processing</legend>

                <!-- Lines limit -->
                <div class="form-group">
                    <label class="col-md-2 control-label"><abbrc msg="How many lines from the input CSV file should be annotated?
It is recommended to run the task with the first few lines, customize the output, and only then allow for the time-consuming processing of the entire file.">Lines processed:</abbrc></label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="all" ng-init="linesLimit.selection = 'all'" />
                            All
                        </label>

                        <label class="radio-inline">
                            <input type="radio" ng-model="linesLimit.selection" value="some" />
                            At most <input type="number" ng-model="linesLimit.value" ng-init="linesLimit.value = 1" min="1" max="2147483647" ng-disabled="linesLimit.selection != 'some'" />
                        </label>
                    </div>
                </div>

                <!-- Statistical data -->
                <div class="form-group">
                    <label class="col-md-2 control-label"><abbrc msg="Statistical processing does not search for subject columns and the outcoming relations.
Instead the candidates for dimensions and measures forming an exported data cube are detected.">Statistical data:</abbrc></label>
                    <div class="col-md-10 checkbox">
                        <label>
                            <input type="checkbox" ng-model="statistical.value" ng-init="statistical.value = false" />
                        </label>
                    </div>
                </div>
            </fieldset>

            <!--  Alerts displaying notifications for a user regarding the whole form -->
            <alert-group bind="wholeForm.alerts" disappearing="3"/>
        </form>

        <!-- Confirm modal when overwriting task -->
        <confirm bind="confirm" title="Task configuration replacement">
            You are about to overwrite an existing task configuration. Continue?
        </confirm>

        <!-- Submit, when creating a new task -->
        <div class="col-md-offset-5 col-md-7" ng-if="templFormat.creating">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-6">
                    <button-load button-class="col-md-12 btn btn-lg" action="templFormat.createAndRun" disabled="false">Save and run</button-load>
                </div>
                <div class="col-md-3">
                    <button-load button-class="col-md-12 btn btn-lg" action="templFormat.createTask" disabled="false">Save</button-load>
                </div>
                <div class="col-md-3">
                    <button type="button" class="col-md-12 btn btn-lg" ng-click="templFormat.goBack()">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Submit, when editing an existing task -->
        <div class="col-md-offset-5 col-md-7" ng-if="!templFormat.creating">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-6">
                    <button-load button-class="col-md-12 btn btn-lg" action="templFormat.saveAndRun" disabled="false">Save and run</button-load>
                </div>
                <div class="col-md-3">
                    <button-load button-class="col-md-12 btn btn-lg" action="templFormat.saveTask" disabled="false">Save</button-load>
                </div>
                <div class="col-md-3">
                    <button type="button" class="col-md-12 btn btn-lg" ng-click="templFormat.goBack()">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>
