<!--&lt;!&ndash; Prepared messages to display to user in case of a situation &ndash;&gt;-->
<!--<injector for="msgtxt.saveFailure">An error occurred while saving the task.</injector>-->
<!--<injector for="msgtxt.createFailure">An error occurred while creating the task.</injector>-->
<!--<injector for="msgtxt.startFailure">An error occurred while starting the task. The task has been successfully created, though.</injector>-->
<!--<injector for="msgtxt.loadFailure">Fatal error occurred while loading the task configuration.</injector>-->
<!--<injector for="msgtxt.kbLoadFailure">Fatal error occurred while loading list of available knowledge bases.</injector>-->

<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="tasks" lmenu="default-lm.json" rmenu="default-rm.json" />

    <div class="container-fluid">
        <!-- Headline -->
        <h2>Knowledge base configuration</h2>

        <form class="form-horizontal" role="form" name="kbConfigForm" ng-init="setForm(this, 'kbConfigForm')">
            <!-- Basic settings -->
            <fieldset>
                <legend>Basic settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Name:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" name="kbName" pattern="[-a-zA-Z0-9_.,\s]*" focused required />
                        <div ng-messages="kbConfigForm.kbName.$error" ng-if='kbConfigForm.kbName.$dirty' role="alert">
                            <div ng-message="required"><error-msg>Name must not be empty.</error-msg></div>
                            <div ng-message="pattern"><error-msg>Name may consist only of alphanumeric characters, spaces and - _ . ,</error-msg></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Description:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Cache template path:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Stoplist file path:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Provider:</label>

                    <div class="col-md-10">
                        <select class="form-control" required>
                            <option>DBpedia</option>
                            <option>SPARQL</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">SPARQL endpoint:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>
            </fieldset>

            <!-- Settings -->
            <fieldset>
                <legend>Settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Fulltext mode:</label>

                    <div class="col-md-10">
                        <select class="form-control" required>
                            <option>No fulltext</option>
                            <option>Regular expression</option>
                            <option>bif:contains</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Language suffix:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Class type mode:</label>

                    <div class="col-md-10">
                        <select class="form-control" required>
                            <option>Direct</option>
                            <option>Indirect</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"Instance of" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"Domain" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"Range" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>
            </fieldset>

            <!-- Predicate sets -->
            <fieldset>
                <legend>Predicate sets</legend>

                <!-- Tooltip messages -->
                <injector for="actiontext.configure">Knowledge base settings</injector>
                <injector for="actiontext.remove">Remove knowledge base</injector>

                <!-- Table of predicates -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><!-- Checkbox --></th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- A single record -->
                        <tr ng-repeat="record in predicateSets" ng-class="{'odalic-trstyle-lightgrey': record.selected}">
                            <!-- Record selection -->
                            <td class="col-md-1"><input class="form-control" type="checkbox" ng-model="record.selected"/></td>

                            <!-- Name -->
                            <td class="col-md-7">{{ record.name }}</td>

                            <!-- Actions -->
                            <td class="col-md-4">
                                <!-- Configure -->
                                <tooltip source="actiontext.configure" place="top">
                                    <a class="btn btn-default" ng-click="fconfigure(kb.id)"><i class="fa fa-cog fa-lg"></i></a>
                                </tooltip>

                                <!-- Remove -->
                                <tooltip source="actiontext.remove" place="top">
                                    <a class="btn btn-default" ng-click="fremove(kb.id)"><i class="fa fa-trash fa-lg"></i></a>
                                </tooltip>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Buttons -->
                <div class="col-md-offset-8 col-md-4">
                    <div class="col-md-6">
                        <button type="button" class="col-md-12 btn btn-lg" ng-click="psAdd()">Add</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="col-md-12 btn btn-lg">Autodetect</button>
                    </div>
                </div>
            </fieldset>

            <!-- Additional settings -->
            <fieldset>
                <legend>Additional settings</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label">Insert enabled:</label>

                    <div class="col-md-10">
                        <input class="form-control col-md-2" type="checkbox" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Resource prefix:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Schema prefix:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Insert graph:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Default class:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"label" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"alt. label" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"subclass of" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">"subproperty of" predicate:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Class type:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Property type:</label>

                    <div class="col-md-10">
                        <input class="form-control" type="text" />
                    </div>
                </div>
            </fieldset>
        </form>

        <!-- Submit, when editing an existing task -->
        <div class="col-md-offset-7 col-md-5">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-6">
                    <button type="button" class="col-md-12 btn btn-lg">Save</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="col-md-12 btn btn-lg">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Blank space pushing footer further below -->
        <div class="col-md-12 odalic-hstyle-medium"/>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>
