<!--<ui-select-->
        <!--ng-model="data[column].chosen[kb]"-->
        <!--multiple theme="bootstrap" search-enabled="true" width="100"-->
        <!--ng-change="change()">-->
    <!--<ui-select-match placeholder="Pick one...">-->
        <!--<img ng-click="createIframe($item.entity,kb,$event)"-->
             <!--title="lodlive browser" ng-src="{{lodLiveBrowserIcon}}"-->
             <!--ng-class="'selectBoxIcon'"/>-->
        <!--&nbsp-->
        <!--{{$item.entity.label}}<br> ({{$item.entity.resource}})-->
    <!--</ui-select-match>-->
    <!--<ui-select-choices-->
            <!--repeat="opt in data[column].candidates[kb]  | propsFilter : {'entity.resource': $select.search, 'entity.label': $select.search}">-->
        <!--<img ng-click="createIframe(opt.entity,kb,$event)"-->
             <!--title="lodlive browser" ng-src="{{lodLiveBrowserIcon}}"-->
             <!--ng-class="'selectBoxIcon'"/>-->
        <!--&nbsp-->
        <!--<span title={{opt.entity.resource}}-->
              <!--ng-bind-html="opt.entity.label| highlight: $select.search"></span>-->
        <!--<div title={{opt.entity.resource}}-->
             <!--ng-bind-html="' ('+opt.entity.resource + ')'| highlight: $select.search"></div>-->
    <!--</ui-select-choices>-->

<!--</ui-select>-->

<div ng-if="(selectedPosition.row == -1)">

    <ui-select
            ng-model="result.headerAnnotations[selectedPosition.column].chosen[knowledgeBase]"
            multiple theme="bootstrap" search-enabled="true" width="100"
            ng-change="lockCell()">
        <ui-select-match placeholder="Pick one...">
            <img ng-click="createIframe($item.entity,knowledgeBase,$event)"
                 title="lodlive browser" ng-src="{{lodLiveBrowserIcon}}"
                 ng-class="'selectBoxIcon'"/>
            &nbsp
            {{$item.entity.label}}<br> ({{$item.entity.resource}})
        </ui-select-match>
        <ui-select-choices
                repeat="opt in result.headerAnnotations[selectedPosition.column].candidates[knowledgeBase]  | propsFilter : {'entity.resource': $select.search, 'entity.label': $select.search}">
            <img ng-click="createIframe(opt.entity,knowledgeBase,$event)"
                 title="lodlive browser" ng-src="{{lodLiveBrowserIcon}}"
                 ng-class="'selectBoxIcon'"/>
            &nbsp
            <span title={{opt.entity.resource}}
                  ng-bind-html="opt.entity.label| highlight: $select.search"></span>
            <div title={{opt.entity.resource}}
                 ng-bind-html="' ('+opt.entity.resource + ')'| highlight: $select.search"></div>
        </ui-select-choices>

    </ui-select>
</div>
<div ng-if="(selectedPosition.row != -1)">
    <ui-select
            ng-model="result.cellAnnotations[selectedPosition.row][selectedPosition.column].chosen[knowledgeBase]"
            multiple limit="1" theme="bootstrap"
            search-enabled="true"
            on-select="switchChosen($item, knowledgeBase)"
            ng-change="lockCell()">
        <ui-select-match placeholder="Pick one...">
            <img ng-click="createIframe($item.entity,knowledgeBase,$event)"
                 title="lodlive browser"
                 ng-src="{{lodLiveBrowserIcon}}"
                 ng-class="'selectBoxIcon'"/>
            &nbsp
            {{$item.entity.label}} <br>
            ({{$item.entity.resource}})
        </ui-select-match>
        <ui-select-choices
                repeat="opt in result.cellAnnotations[selectedPosition.row][selectedPosition.column].candidates[knowledgeBase]  | propsFilter : {'entity.resource': $select.search, 'entity.label': $select.search}">
            <img ng-click="createIframe(opt,knowledgeBase,$event)"
                 title="lodlive browser"
                 ng-src="{{lodLiveBrowserIcon}}"
                 ng-class="'selectBoxIcon'"/>
            &nbsp
            &nbsp
            <span title={{opt.entity.resource}}
                  ng-bind-html="opt.entity.label| highlight: $select.search"></span>
            <div title={{opt.entity.resource}}
                 ng-bind-html="' ('+opt.entity.resource + ')'| highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
