<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="timeout" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <!-- Content + Sidebar -->
    <div class="container-fluid">
        <div class="col-sm-offset-3 col-sm-9">
            <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Request timeouted</h1>
            <h4>The server took a long time to respond to the request.</h4>
            <p class="odalic-font-grey odalic-gfont-small">
                This error likely happened due to the server either not running or being unable to process any requests at the moment. We are sorry for the inconvenience.
            </p>
            <div class="odalic-hstyle-big"></div>
        </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>
