<div id="newEntities" class="modal fade" role="dialog">
    <div class="modal-dialog lg">
        <div class="modal-head">

            <!--<div ng-if="(selectedPosition.row == -1)">-->
                <!--<h3>Propose new class</h3>-->
            <!--</div>-->
            <!--<div ng-if="(selectedPosition.row != -1)">-->
                <!--<h3>Propose new entity</h3>-->
            <!--</div>-->


        </div>

        <div class="modal-content">
            <c-d-proposal-content
                    selected-position="selectedPosition" ,
                    locked="locked" ,
                    primary-k-b="{{primaryKB}}" ,
                    result="result">
            </c-d-proposal-content>
        </div>
    </div>
</div>
