<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="0" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <!-- Sidebar -->
    <div class="col-sm-3 odalic-gfont-small">
        <!-- Facebook -->
        <div class="panel">
            <div class="panel-body">
                <h4><i class="fa fa-facebook-official"></i> Facebook</h4>
                <p><a href="https://www.facebook.com/">...</a></p>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="col-sm-9">
        <h1>H1 Headline</h1>
        <h3>H3 headline</h3>
        <p>
            A text
        </p>
        <p class="odalic-font-grey odalic-gfont-small">
            01. 01. 2016
        </p>
        <div class="odalic-hstyle-big"></div>
    </div>
</main-cnt>

<!-- Footer -->
<footer>
    <p>Place sticky footer content here.</p>
</footer>