<!-- Main Content -->
<main-cnt>
    <!-- NavBar -->
    <navbar selected="0" lmenu="default-lm.json" rmenu="default-rm.json"></navbar>

    <!-- Content + Sidebar -->
    <div class="container-fluid">
        <!-- Sidebar -->
        <div class="col-sm-3 odalic-gfont-small">
            <!-- Facebook -->
            <div class="panel">
                <div class="panel-body">
                    <h4><i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/Odalic-1805578162995006/">Odalic</a></h4>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="col-sm-9">
            <h1>Welcome to Odalic!</h1>
            <h4>Web user interface to semantic interpretation and linking of data from CSV files.</h4>
            <p class="odalic-font-grey odalic-gfont-small">
                Start you work by creating a new task with Tasks | Create new.
            </p>
            <div class="odalic-hstyle-big"></div>
        </div>
    </div>
</main-cnt>

<!-- Footer -->
<footer/>