<ui-select
        title="Choose from the remaining candidates ({{ currentRelation.candidates[knowledgeBase].length -  currentRelation.chosen[knowledgeBase].length}})"
        ng-model=" currentRelation.chosen[knowledgeBase]"
        multiple limit="1" theme="bootstrap"
        on-select="switchRelation($item, knowledgeBase);lockRelation()"
        ng-disabled=" currentRelation.candidates[knowledgeBase].length == 0"
        ng-change="gvdata.mc(); lockRelation()">
    <ui-select-match placeholder="Select candidate or search its label/prefixed url">
        <a  class="selectBoxLink" ng-click="$event.stopPropagation();" title="shows resource detail" target="_blank" href = "{{$item.entity.resource}}">
            <span class="fa fa-info-circle fa-lg"> </span>
        </a>
        &nbsp
        <span title="label">{{ $item.entity.label }}</span>  &nbsp
        <span title="score">{{ $item.score.value| nullOrNumber:2}}  </span> <br/>
        <span title={{$item.entity.resource}}>({{$item.entity.prefixed}})</span>
    </ui-select-match>
    <ui-select-choices
            repeat="opt in  currentRelation.candidates[knowledgeBase]  | propsFilter : {'entity.resource': $select.search}">

        <a class="selectBoxLink" ng-click="$event.stopPropagation();" title="shows resource detail" target="_blank" href = "{{opt.entity.resource}}">
            <span class="fa fa-info-circle fa-lg"> </span>
        </a>
        &nbsp
         <span title="label"
               ng-bind-html="opt.entity.label | highlight: $select.search"></span>
        <span title="score">{{opt.score.value| nullOrNumber:2}}</span>
        <br/>
        <span title={{opt.entity.resource}}
             ng-bind-html="'(' + opt.entity.prefixed  + ')'| highlight: $select.search"></span>

    </ui-select-choices>
</ui-select>