<h2>Step 2: Reviewing suggested subject (main) column</h2>
<!--<pre>{{locked.subjectColumns}}</pre>-->
<!--&lt;!&ndash;<pre>{{feedback.subjectColumnPositions}}</pre>&ndash;&gt;-->
<!--"subjectColumnPositions": { "DBpedia": { position: { index: 6 } }, "wikidata": { position: { index: 3 } }, ...},-->
<!--<pre>{{feedback}}</pre>-->

<div ng-repeat="kb in chosenKBs">
    <h3>{{kb}}</h3>
    <!-- Input file table -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <!--shows headers of table-->
                <td ng-repeat="cell in inputFile.columns"
                    ng-class="($index == result.subjectColumnPositions[kb].index) ? 'markedColumn' :''"
                    ng-click="selectSubjectColumn($index,kb)">
                    {{ cell }}
                    <!--allows to lock and unlock subject column -->
                    <span class="pull-right" ng-show="$index == result.subjectColumnPositions[kb].index">
                        <s-c-lock locked="locked.subjectColumns" k-b="{{kb}}" column="{{$index }}"></s-c-lock>
                    </span>
                </td>
            </tr>
            </thead>
            <tbody>
            <!--shows only the first two rows of table as example-->
            <tr ng-repeat="row in inputFile.rows| limitTo: 2">
                <td ng-repeat="cell in row"
                    ng-class="($index == result.subjectColumnPositions[kb].index) ? 'markedColumn' : ''"
                    ng-click="selectSubjectColumn($index,kb)">
                    {{ cell }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <!--shows footer of table-->
            <td ng-repeat="cell in inputFile.columns"  ng-class="($index == result.subjectColumnPositions[kb].index) ? 'markedColumn' :''"
                ng-click="selectSubjectColumn($index,kb)">
                ...
            </td>
            </tfoot>
        </table>
    </div>
</div>