<div ng-repeat="kb in chosenKBs">


    <h3>{{kb}} &nbsp &nbsp <s-c-lock locked="locked.subjectColumns"
                         k-b="{{kb}}"
    /></h3>


    <!-- Input file table -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <!--shows headers of table-->
                <td ng-repeat="cell in inputFile.columns"
                    ng-style="columnStyle(kb,$index)"
                    ng-click="selectSubjectColumn($index,kb)"
                    ng-mouseleave="open[kb][$index]=0">
                    <div
                            popover-class ='pop'
                            popover-trigger="'none'"
                            popover-is-open="open[kb][$index]"
                            popover-popup-close-delay="200"
                            uib-popover="Column is ignored. It cannot be set as subject column.">

                        {{ cell }}
                        <!--allows to lock and unlock subject column -->
                        <span class="pull-right">


                    </span>

                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <!--shows only the first two rows of table as example-->
            <tr ng-repeat="row in inputFile.rows| limitTo: 2">
                <td ng-repeat="cell in row"
                    ng-style="columnStyle(kb,$index)"
                    ng-click="selectSubjectColumn($index,kb)"
                    ng-mouseleave="open[kb][$index]=0">
                    {{ cell }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <!--shows footer of table-->
            <td ng-repeat="cell in inputFile.columns"
                ng-style="columnStyle(kb,$index)"
                ng-click="selectSubjectColumn($index,kb)"
                ng-mouseleave="open[kb][$index]=0">
                ...
            </td>


            </tfoot>
        </table>
    </div>
</div>